<form nz-form [formGroup]="registrarForm" class="login-form">
      <nz-layout >
        <nz-content>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="5">Usuario</nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Por favor ingresa tu usuario">
        <nz-input-group>
          <input type="text" nz-input formControlName="usuario" placeholder="usuario" required/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="5">Contraseña</nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Por favor ingresa tu contraseña">
        <nz-input-group>
          <input type="password" nz-input formControlName="password" placeholder="password" required/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="5">Email</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <input type="email" nz-input formControlName="email" placeholder="email" required/>
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('email')">El email ingresado no es valido.</ng-container>
          <ng-container *ngIf="control.hasError('required')">Por favor, ingrese su email.</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <!-- <nz-form-control nzHasFeedback nzErrorTip="Por favor ingresa tu contraseña"> -->
        <label nz-checkbox formControlName="esEncargado">Es encargado?</label>
      <!-- </nz-form-control> -->
    </nz-form-item>
  </nz-content>
  <nz-footer>
    <button
    nz-button class="login-form-button login-form-margin" 
    (click)="onSubmit()" [disabled]="!registrarForm.valid"
    [nzType]="'primary'">Ingresar 
  </button>
</nz-footer>
</nz-layout>
</form>