<nz-modal
    [(nzVisible)]="isVisibleModalChat"
    [nzBodyStyle]="{ minHeight: '600px' }"
    nzWidth="50%"
    nzTitle="Chat"
    nzCentered
    nzOkText="Ok"
    nzCancelText="Cerrar"
    (nzOnCancel)="handleCancelChat()"
    (nzOnOk)="handleOkChat()"
>
<ng-container *nzModalContent>
    <div nz-row nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 } ">
      <div nz-col>
        <p style="text-align: center;"><b>Comentarios</b></p> 
        <cdk-virtual-scroll-viewport itemSize="4" class="virtualScroll">
        <nz-list class="list" *ngIf="elem && elem.interacciones">
          <nz-list-empty [nzNoResult]="noResultText" *ngIf="elem.interacciones.length == 0"></nz-list-empty>
          <nz-list-item [style]="itemListStyle(interaccion, elem)" *cdkVirtualFor="let interaccion of elem.interacciones">
            <nz-comment [nzAuthor]="interaccion.rol" [nzDatetime]="toFullDate(interaccion.creationDate)">
              <nz-avatar
                nz-comment-avatar
                [nzIcon]="determineIcon(interaccion)"
                [style]="avatarStyle(interaccion)"
              ></nz-avatar>
              <nz-comment-content>
              <p
                nz-typography
                nzEllipsis
                nzExpandable
                nzCopyable 
                [nzCopyTooltips]="null"
                [attr.title]="interaccion.texto"
                [nzEllipsisRows]="2"
                [nzContent]="interaccion.texto"
              >
              </p>
              </nz-comment-content>
            </nz-comment>                
          </nz-list-item>
        </nz-list>
      </cdk-virtual-scroll-viewport>
      </div>
      <div nz-col>
        <p style="text-align: center;"><b>{{perfil?.title}}</b></p>
        <nz-comment style="min-width: 25vw;" [nzAuthor]="perfil?.label">
          <nz-avatar nz-comment-avatar [nzIcon]="perfil?.icon" [style]="perfil?.hexColor"></nz-avatar>
          <nz-comment-content>
            <nz-form-item>
                <textarea 
                  (ngModelChange)="onChangeUserComment($event)" 
                  [(ngModel)]="userCommentValue" nz-input rows="5">
                </textarea>
            </nz-form-item>
            <form nz-form [nzLayout]="'inline'">
              <nz-form-item>
                <button nz-button [disabled]="disabledInteractionDeletedButton(elem)" (click)="handleClickEliminarComment()" nzType="default">
                  Eliminar
                </button>
              </nz-form-item>
              <nz-form-item>
                <button nz-button [disabled]="rejected" (click)="handleClickAceptar()" nzType="default">
                  {{ isEditing(elem) ? 'Editar' : 'Enviar' }}
                </button>
              </nz-form-item>
            </form>
          </nz-comment-content>
        </nz-comment>
      </div>
    </div>                            
</ng-container>
</nz-modal>