<nz-collapse  nzAccordion>
  <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active">
    <ng-template [ngIf]="panel.name === 'Datos' " [ngIfElse]="ifElse">
    <div nz-col class="gutter-row">
      <nz-tabset>
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <i nz-icon [nzType]="tab.icon"></i>
            {{ tab.title }}
          </ng-template>
          <ng-template [ngIf]="tab.name === 'Pedido' " [ngIfElse]="usuario">
            <div nz-row *ngIf="currentPedido" nzJustify="center" [nzGutter]="{ xs: 24, sm: 32, md: 48, lg: 64 }">
              <div nz-col >
                <p class="subTitle">Título :</p>
                <p>{{currentPedido.nombre ? currentPedido.nombre : '-' }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">SubTítulo :</p>
                <p>{{currentPedido.nombreExtendido ? currentPedido.nombreExtendido : '-' }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Tipo :</p>
                <p>{{ currentPedido.tipo && currentPedido.tipo.nombre ? currentPedido.tipo.nombre : '-'}}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Fecha Entrega :</p>
                <p>{{ currentPedido.fechaEntrega ? toLocalDateStringFunction(currentPedido.fechaEntrega) : '-'}}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Alto (px) :</p>
                <p>{{ currentPedido.alto ? currentPedido.alto : (currentPedido.tipo  ? currentPedido.tipo.alto : "-") }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Ancho (px) :</p>
                <p>{{ currentPedido.ancho ? currentPedido.ancho : (currentPedido.tipo  ? currentPedido.tipo.ancho : "-") }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Cantidad :</p>
                <p>{{ currentPedido.cantidad }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Tipografía :</p>
                <p>{{ currentPedido.tipografia ? currentPedido.tipografia : (currentPedido.tipo  ? currentPedido.tipo.tipografia : "-") }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Estado :</p>
                <ng-template [ngIf]="currentPedido.state" [ngIfElse]="WithoutState">
                  <p><nz-tag [nzColor]="colorear(currentPedido.state)">{{currentPedido.state}}</nz-tag></p>
                </ng-template>
                <ng-template #WithoutState>
                  <p>-</p>
                </ng-template>
              </div>
              <div nz-col >
                <p class="subTitle">Colores :</p>
                <ng-template 
                  [ngIf]="(currentPedido.colores && currentPedido.colores.length > 0) || (currentPedido.tipo && currentPedido.tipo.colores)" [ngIfElse]="WithoutColors">
                  <nz-list>
                    <nz-list-item style="display: inline; padding-left: 3px; padding-right: 3px; border-bottom: 0 none;" *ngFor="let color of pedidoColores()">
                      <nz-badge [nzColor]="color.hexCode">{{ color.nombre }}</nz-badge>
                    </nz-list-item>
                  </nz-list>
                </ng-template>
                <ng-template #WithoutColors>
                  <p>-</p>
                </ng-template>
              </div>
              <div nz-col >
                <p class="subTitle">Descripción :</p>
                <p>{{ currentPedido.descripcion ? currentPedido.descripcion : "-" }}</p>
              </div>
          </div>
          </ng-template>
          <ng-template #usuario>
            <div nz-row *ngIf="currentPedido && currentPedido.propietario" nzJustify="center" [nzGutter]="{ xs: 24, sm: 32, md: 48, lg: 64 }">
              <div nz-col >
                <p class="subTitle">Nombre :</p>
                <p>{{ currentPedido.propietario.nombre }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Apellido :</p>
                <p>{{ currentPedido.propietario.apellido }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Localidad :</p>
                <p>{{ currentPedido.propietario.ubicacion }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Nombre de Usuario :</p>
                <p>{{ currentPedido.propietario.username }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Correo :</p>
                <p>{{ currentPedido.propietario.email }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Contacto :</p>
                <p>{{ currentPedido.propietario.contacto }}</p>
              </div>
          </div>
          </ng-template>
        </nz-tab>
      </nz-tabset>
      
    </div>
    </ng-template>

     <ng-template #ifElse>
     <ng-template [ngIf]="panel.name === 'Comentarios' " [ngIfElse]="Resolver">
      <!--div nz-col class="gutter-row" [nzSpan]="16">
        <div-->
          <!--p *ngIf="currentPedido && currentPedido.files && tieneDimension()" style="text-align: center;"><b>Archivos</b></p-->
          <p style="text-align: center;"><b>Archivos</b></p>
            <nz-list nzGrid>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngIf="currentPedido && currentPedido.files">
                  <div nz-col *ngFor="let file of currentPedido.files">
                    <nz-list-item>
                      <nz-card [nzCover]="coverTemplate" class="border" [nzActions]="[actionAddComment, actionChat]">
                          <nz-card-meta
                              [nzTitle]="file.name"
                              nzDescription=""
                              [nzAvatar]="avatarTemplate"
                          ></nz-card-meta>
                            <ng-template #avatarTemplate>
                            </ng-template>
                            <ng-template #coverTemplate>
                              <img nz-image alt="no cargo imagen" *ngIf="file && file.url" [nzSrc]="file.url" [ngStyle]="{ width: '150px', height: '160px', cursor: 'pointer' }">
                            </ng-template>
                            <ng-template #actionAddComment>
                              <button nz-button (click)="onClickComment($event, file)">
                                <p style="font-size: 10px;">Comentarios</p>
                              </button>
                              <!--i nz-icon nzType="comment" (click)="onClickComment($event, file)" nzTheme="outline"></i-->
                            </ng-template>
                            <ng-template #actionChat>
                              <button nz-button (click)="onClickFileChat(file)">
                                <p style="font-size: 10px;">Chat</p>
                                  <!--div nz-icon nzType="comment" style="font-size: 10px;" nzTheme="outline">
                                    Chat
                                  </div-->
                              </button>
                            </ng-template>
                      </nz-card>
                    </nz-list-item>
                  </div>
                </div>
            </nz-list>
        <app-chat 
          [elem]="currentFile" 
          [visible]="isVisibleModalFileChat" 
          (onClose)="handleCancelModalFileChat($event)"
          [perfil]="getPerfil"
          [text]="textAreaValue"
          [noResultText]="ChatNoResultMessage"
          (onAccept)="handleOkModalFileChat($event)"
          (onDelete)="handleDelModalFileChat()">
        </app-chat>
        <nz-modal
            [(nzVisible)]="isVisibleModalComment"
            [nzBodyStyle]="{ minHeight: '600px' }"
            nzWidth="100%"
            nzTitle="Responder"
            nzCentered
            (nzOnCancel)="handleCancelResolver()"
            (nzOnOk)="handleOkResolver()"
            nzOkText="Enviar marcados"
          >
              <ng-container *nzModalContent>
                <p style="text-align: center;"><b>Comentarios</b></p>
                  <div nz-row nzJustify="center" [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]" >
                    <!--div nz-col nzSpan="16" style="position: relative;" -->
                    <div nz-col style="position: relative;">
                      <img nz-image nzDisablePreview *ngIf="currentFile && currentFile.url" [nzSrc]="currentFile.url" [ngStyle]="{ maxWidth: '600px', minHeight: '400px'}">
                      <div *ngIf="currentFile && currentFile.comentarios">
                        <div *ngFor="let comentario of currentFile.comentarios">
                          <nz-badge
                            [nzCount]="comentario.numero"
                            [style]="badgeUponImagePositionStyle(comentario)">
                          </nz-badge>
                        </div>
                      </div>
                    </div>
                    <!--div nz-col nzSpan="8"-->
                    <div nz-col>
                      <cdk-virtual-scroll-viewport itemSize="10"  class="demo-infinite-container">
                      <nz-list class="algo" *ngIf="currentFile && currentFile.comentarios">
                        <nz-list-item  *cdkVirtualFor="let comentario of currentFile.comentarios">
                          <nz-comment [nzAuthor]="comentario.interacciones[0].rol" [nzDatetime]="fullDate(comentario.creationDate)">
                            <nz-avatar
                              nz-comment-avatar
                              [textContent]="comentario.numero"
                              nzSize="large"
                              [style]="badgeColorStyleFunction()"
                            ></nz-avatar>
                            <nz-comment-content>
                            <p
                              nz-typography
                              nzEllipsis
                              nzExpandable
                              nzCopyable 
                              [nzCopyTooltips]="null"
                              [attr.title]="comentario.interacciones[0].texto"
                              [nzEllipsisRows]="1"
                              [nzContent]="comentario.interacciones[0].texto"
                            >
                            </p>
                            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 } ">
                              <div nz-col>
                                <div nz-row [nzGutter]="8" (click)="onClickChat($event, comentario)" style="cursor: pointer;">
                                  <div nz-col>
                                      <span nz-typography nzType="secondary">Ir al chat</span>
                                  </div>
                                  <div nz-col>
                                    <span nz-typography nzType="secondary"><i nz-icon nzType="message" nzTheme="outline"></i></span>
                                  </div>
                                </div>
                              </div>
                              <div nz-col>
                                <div nz-row [nzGutter]="8">
                                  <div nz-col>
                                    <div nz-typography nzType="secondary">Tiene respuesta?</div>
                                  </div>
                                  <div nz-col>
                                    <div nz-typography nzType="secondary">
                                      <ng-template [ngIf]="comentario.respondido" [ngIfElse]="ShowClose">
                                          <span nz-icon nzType="check" style="color: green;" nzTheme="outline"></span>
                                      </ng-template>
                                      <ng-template #ShowClose>
                                          <span nz-icon nzType="close" style="color: red;" nzTheme="outline"></span>
                                      </ng-template>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div nz-col>
                                <div nz-row [nzGutter]="8">
                                  <div nz-col>
                                    <div nz-typography nzType="secondary">Está finalizado?</div>
                                  </div>
                                  <div nz-col>
                                    <div nz-checkbox [(ngModel)]="comentario.terminado" (ngModelChange)="onChangeCheck($event, comentario)"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </nz-comment-content>
                          </nz-comment> 
                        </nz-list-item>
                      </nz-list>
                      </cdk-virtual-scroll-viewport>
                    </div>
                  </div>
              </ng-container>
          </nz-modal>
          <app-chat 
            [elem]="currentComment" 
            [visible]="isVisibleModalChat" 
            (onClose)="handleCancelModalResponse($event)"
            [perfil]="getPerfil"
            [text]="textAreaValue"
            [noResultText]="ChatNoResultMessage"
            (onAccept)="handleOkModalResponse($event)"
            (onDelete)="eliminarRespuesta()">
          </app-chat>  
     </ng-template>
    </ng-template>
     <ng-template #Resolver>
      <div nz-row nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <ng-template [ngIf]="currentPedido && currentPedido.files && tieneDimension()" [ngIfElse]="ifElse">
          <div nz-col>
            <!--p [style]="resolverFilesStyle(currentPedido)"><b>Archivos</b></p-->
            <p style="text-align: center;"><b>Archivos</b></p> 
            <nz-list nzGrid>
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngIf="currentPedido && currentPedido.files">
                <div nz-col *ngFor="let file of currentPedido.files">
                  <nz-list-item>
                    <!--nz-card [nzCover]="coverTemplate" [nzActions]="[actionAddComment, actionAddSolution]"-->
                    <nz-card [style]="cardStyle(file)" [nzCover]="coverTemplate" [nzActions]="[actionAddSolution]">
                      <nz-card-meta
                       [nzTitle]="file.name"
                        nzDescription=""
                      ></nz-card-meta>
                        <ng-template #coverTemplate>
                          <img nz-image alt="no cargo imagen" *ngIf="file && file.url" [nzSrc]="file.url" [ngStyle]="{ width: '160px', height: '140px', cursor: 'pointer' }">
                        </ng-template>
                        <ng-template #actionAddSolution>
                            <button nzType="default" nz-button (click)="onClickAddSolution($event, file)">
                              Solución
                            </button>
                        </ng-template>
                    </nz-card>
                  </nz-list-item>
                </div>
              </div>
            </nz-list>
          </div>
        </ng-template>
        <ng-template #ifElse>
          <!--button nz-button>
            <span nz-icon nzType="upload"></span>
            Upload
          </button MEJORAR EL UPLOAD -->
          
        </ng-template>
        
        <div nz-col>
          <p *ngIf="currentSolution || showFallback || !tieneDimension()" style="text-align: center;"><b>Solución</b></p>
          <!--b>Solución</b-->
          <!--nz-card *ngIf="currentSolution" [nzCover]="coverTemplate" [nzActions]="[actionAddComment, actionAddSolution]"-->
          <!--nz-card [nzCover]="coverTemplate" [nzActions]="[actionAddComment, actionAddSolution]"-->
          <nz-card [nzCover]="coverTemplate" *ngIf="(currentSolution && currentSolution.url) || showFallback || !tieneDimension()" 
              [nzActions]="[actionDeleteSolution, actionAddSolution]">
            <nz-card-meta             
              nzDescription=""
              [nzAvatar]="avatarTemplate"
            ></nz-card-meta>
              <ng-template #avatarTemplate>
              </ng-template>
              <ng-template #coverTemplate>
                <ng-template [ngIf]="currentSolution && currentSolution.url" [ngIfElse]="Fallback">
                  <img nz-image [nzFallback]="fallback" alt="" [nzSrc]="currentSolution.url" width="800" height="400" >
                </ng-template>
                <ng-template #Fallback>
                  <img nz-image *ngIf="showFallback || !tieneDimension()" [nzFallback]="fallback" alt="" nzSrc="error" width="800" height="400" >
                </ng-template>  
              </ng-template>
              <ng-template #actionDeleteSolution>
                <button nz-button [disabled]="!currentSolution" (click)="onClickDeleteSolution($event)">
                  <span nz-icon nzType="delete" nzTheme="outline"></span>Eliminar
                </button>
              </ng-template>
              <ng-template #actionAddSolution>
                <nz-upload
                  nzAction="http://localhost:8080/files/upload"
                  (nzChange)="handleChange($event)"
                >
                  <button nz-button>
                    <span nz-icon nzType="upload" nzTheme="outline"></span>Subir
                  </button>
                </nz-upload>
              </ng-template>
            </nz-card>
        </div>
      </div>
     </ng-template>
  </nz-collapse-panel>
</nz-collapse>
<br>
<app-chat 
  [elem]="currentPedido" 
  [visible]="isVisibleModalPedidoChat" 
  (onClose)="handleClosePedidoChat($event)"
  [perfil]="getPerfil"
  [text]="textAreaValue"
  [noResultText]="ChatNoResultMessage"
  (onAccept)="handleClickAceptar($event)"
  (onDelete)="handleClickEliminarComment()">
</app-chat>

<div nz-row nzJustify="end" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col>
    <button nz-button nzType="default" style="width: 120px;">Salir<i nz-icon nzType="home" nzTheme="outline"></i></button>
  </div>
  <div nz-col>
    <button nz-button nzType="primary" style="width: 120px;" (click)="onClickPedidoChat($event)">Chat<i nz-icon nzType="message" nzTheme="outline"></i></button>
  </div>
</div>



