
<h3 nz-typography style="text-align: center;">Resolver</h3>
<nz-collapse nzAccordion>
  <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panelHeader(panel)" [nzActive]="panel.active" [nzDisabled]="panel.disabled()">
    <ng-template [ngIf]="panel.name === 'Datos' " [ngIfElse]="ifElse">
    <div nz-col class="gutter-row">
      <nz-tabset>
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <i nz-icon [nzType]="tab.icon"></i>
            {{ tab.title }}
          </ng-template>
          <ng-template [ngIf]="tab.name === 'Pedido' " [ngIfElse]="usuario">
            <div nz-row *ngIf="currentPedido" nzJustify="center" [nzGutter]="{ xs: 24, sm: 32, md: 48, lg: 64 }">
              <div nz-col >
                <p class="subTitle">Título :</p>
                <p>{{currentPedido.nombre ? currentPedido.nombre : '-' }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">SubTítulo :</p>
                <p>{{currentPedido.nombreExtendido ? currentPedido.nombreExtendido : '-' }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Tipo :</p>
                <p>{{ currentPedido.tipo && currentPedido.tipo.nombre ? currentPedido.tipo.nombre : '-'}}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Fecha Entrega :</p>
                <p>{{ currentPedido.fechaEntrega ? toLocalDateStringFunction(currentPedido.fechaEntrega) : '-'}}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Alto (px) :</p>
                <p>{{ currentPedido.alto ? currentPedido.alto : (currentPedido.tipo  ? currentPedido.tipo.alto : "-") }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Ancho (px) :</p>
                <p>{{ currentPedido.ancho ? currentPedido.ancho : (currentPedido.tipo  ? currentPedido.tipo.ancho : "-") }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Cantidad :</p>
                <p>{{ currentPedido.cantidad }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Tipografía :</p>
                <p>{{ currentPedido.tipografia ? currentPedido.tipografia : (currentPedido.tipo  ? currentPedido.tipo.tipografia : "-") }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Estado :</p>
                <ng-template [ngIf]="currentPedido.state" [ngIfElse]="WithoutState">
                  <p><nz-tag [nzColor]="colorear(currentPedido.state)">{{currentPedido.state.label}}</nz-tag></p>
                </ng-template>
                <ng-template #WithoutState>
                  <p>-</p>
                </ng-template>
              </div>
              <div nz-col >
                <p class="subTitle">Colores :</p>
                <ng-template 
                  [ngIf]="(currentPedido.colores && currentPedido.colores.length > 0) || (currentPedido.tipo && currentPedido.tipo.colores)" [ngIfElse]="WithoutColors">
                  <nz-list>
                    <nz-list-item style="display: inline; padding-left: 3px; padding-right: 3px; border-bottom: 0 none;" *ngFor="let color of pedidoColores()">
                      <nz-badge [nzColor]="color.hexCode">{{ color.nombre }}</nz-badge>
                    </nz-list-item>
                  </nz-list>
                </ng-template>
                <ng-template #WithoutColors>
                  <p>-</p>
                </ng-template>
              </div>
              <div nz-col >
                <p class="subTitle">Descripción :</p>
                <p>{{ currentPedido.descripcion ? currentPedido.descripcion : "-" }}</p>
              </div>
          </div>
          </ng-template>
          <ng-template #usuario>
            <div nz-row *ngIf="currentPedido && currentPedido.propietario" nzJustify="center" [nzGutter]="{ xs: 24, sm: 32, md: 48, lg: 64 }">
              <div nz-col >
                <p class="subTitle">Nombre :</p>
                <p>{{ currentPedido.propietario.nombre }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Apellido :</p>
                <p>{{ currentPedido.propietario.apellido }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Localidad :</p>
                <p>{{ currentPedido.propietario.ubicacion }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Nombre de Usuario :</p>
                <p>{{ currentPedido.propietario.username }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Correo :</p>
                <p>{{ currentPedido.propietario.email }}</p>
              </div>
              <div nz-col >
                <p class="subTitle">Contacto :</p>
                <p>{{ currentPedido.propietario.contacto }}</p>
              </div>
          </div>
          </ng-template>
        </nz-tab>
      </nz-tabset>
      
    </div>
    </ng-template>

     <ng-template #ifElse>
     <ng-template [ngIf]="panel.name === 'Comentarios' " [ngIfElse]="Resolver">
      <!--div nz-col class="gutter-row" [nzSpan]="16">
        <div-->
          <!--p *ngIf="currentPedido && currentPedido.files && tieneDimension()" style="text-align: center;"><b>Archivos</b></p-->
          <p style="text-align: center;"><b>Archivos</b></p>
            <nz-list nzGrid>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngIf="currentPedido && currentPedido.files">
                  <div nz-col *ngFor="let file of currentPedido.files">
                    <nz-list-item>
                      <nz-card [nzCover]="coverTemplate" class="border" [nzActions]="[actions]">
                          <nz-card-meta
                              [nzTitle]="file.name"
                              nzDescription=""
                              [nzAvatar]="avatarTemplate"
                          ></nz-card-meta>
                            <ng-template #avatarTemplate>
                            </ng-template>
                            <ng-template #coverTemplate>
                              <img nz-image alt="no cargo imagen" *ngIf="file && file.url" [nzSrc]="file.url" [ngStyle]="{ height: '160px', cursor: 'pointer' }">
                            </ng-template>
                            <ng-template #actions>
                              <div nz-row nzJustify="center" [nzGutter]="[{ xs: 2, sm: 4, md: 6, lg: 8 }, 4]">
                                <div nz-col>
                                  <button 
                                    nz-button
                                    nz-tooltip 
                                    [nzTooltipTitle]=" file.comentarios.length == 0 ? 'No cuenta con comentarios' : '' "  
                                    (click)="onClickComment($event, file)"
                                  >
                                    <p style="font-size: 10px;">Comentarios</p>
                                  </button>
                                </div>
                                <div nz-col>
                                  <button nz-button (click)="onClickFileChat(file)">
                                    <p style="font-size: 10px;">Chat</p>
                                  </button>
                                </div>
                              </div>
                            </ng-template>
                      </nz-card>
                    </nz-list-item>
                  </div>
                </div>
            </nz-list>
            <!--button nzType="primary" nz-button (click)="onClickSendBudget()">
              Enviar presupuesto
            </button-->
            <div style="text-align: center;">
              <!--nz-upload
                nzAction="http://localhost:8080/files/upload"
                (nzChange)="onClickSendBudget($event)"
                
                >
                <button 
                  nz-button
                >
                  <span nz-icon nzType="upload" nzTheme="outline"></span>Enviar presupuesto
                </button>
              </nz-upload-->      
            </div>

        <nz-modal
          [(nzVisible)]="isVisibleModalBudgetChat"
          [nzBodyStyle]="{ minHeight: '600px' }"
          nzWidth="60%"
          nzTitle="Presupuesto"
          nzCentered
          (nzOnCancel)="handleCancelBudget()"
          (nzOnOk)="onOkActionBudget()"
          nzCancelText="Salir"
          nzOkText="Ok"
        >
          <ng-container *nzModalContent>
            <!--p *ngIf="currentSolution || showFallback || !tieneDimension()" style="text-align: center;"><b>Solución</b></p-->
            <p style="text-align: center;"><b>{{budgetTitle() ? 'Ya enviaste el presupuesto!' : ( uploadBudget()? 'Ya subiste el presupuesto!' : 'Suba el presupuesto!') }}</b></p>
            <p style="text-align: center;">{{ budgetTitle() ? '' : "Una vez subido el presupuesto puede enviarlo al cliente presionado el botón 'Enviar presupuesto' " }}</p>
            <!--div nz-col>
                <nz-upload
                  nzAction="http://localhost:8080/files/upload"
                  (nzChange)="handleChangeBudget($event)">
                  <button nz-button nzType="primary">
                    Cargar Presupuesto<span nz-icon nzType="upload" nzTheme="outline"></span>
                  </button>
                </nz-upload>
              </div>
              <div nz-col>
                <button nz-button nzType="primary" (click)="handleSendBudget()">Enviar presupuesto
                  <span nz-icon nzType="mail" nzTheme="outline"></span>
                </button>
            </div-->
            <div nz-row nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
              <div nz-col>
                <nz-card [nzCover]="coverTemplate" *ngIf="(currentBudget && currentBudget.file && currentBudget.file.url) || showFallbackBudget" 
                  [nzActions]="[actionDeleteBudget, actionUploadBudget]">
                  <!--nz-card-meta>
                    <span nz-icon nzType="check" nzTheme="outline"></span>Aprobado
                  </nz-card-meta-->
                  <ng-template #coverTemplate>
                    <ng-template [ngIf]="currentBudget && currentBudget.file && currentBudget.file.url" [ngIfElse]="Fallback">
                      <img nz-image [nzFallback]="fallback" alt="" nzSrc="assets/pdf.jpg" width="400" height="300" >
                    </ng-template>
                    <ng-template #Fallback>
                      <img nz-image *ngIf="showFallbackBudget" [nzFallback]="fallback" alt="" nzSrc="error"  width='400px' height='300px' >
                    </ng-template>  
                  </ng-template>
                  <ng-template #actionDeleteBudget>
                    <button nz-button [disabled]="disabledDeletedBudget()" (click)="onClickDeleteBudget(currentBudget)">
                      <span nz-icon nzType="delete" nzTheme="outline"></span>Eliminar
                    </button>
                  </ng-template>
                  <ng-template #actionUploadBudget>
                    <nz-upload
                      nzAction="http://localhost:8080/files/upload"
                      (nzChange)="handleChangeBudget($event)"
                    >
                    <button 
                      nz-button
                      [disabled]="disabledUploadBudget()"
                      ><span nz-icon nzType="upload" nzTheme="outline"></span>Subir
                    </button>
                    </nz-upload>
                  </ng-template>
                </nz-card>
              </div>
            </div>
            <div nz-row nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
              <div nz-col>
                <button
                  [disabled]="disabledSendBudget()"
                  nz-button nzType="primary" 
                  style="height: 50px; width: 270px;"
                  [nzLoading]="sendingBudget" 
                  (click)="handleSendBudget()">
                  <!--p class="resolverText">{{sendingBudget ? '' : 'Enviar presupuesto'&nbsp;<span nz-icon nzType="mail" nzTheme="outline"></span> }}</p-->
                  <p class="resolverText">{{sendingBudget ? '' : 'Enviar presupuesto' }}</p> 
                </button>
              </div>
            </div> 
          </ng-container>
        </nz-modal>
        <app-chat 
          [elem]="currentFile" 
          [visible]="isVisibleModalFileChat" 
          (onClose)="handleCancelModalFileChat($event)"
          [perfil]="getPerfil"
          [text]="textAreaValue"
          [noResultText]="ChatNoResultMessage"
          (onAccept)="handleOkModalFileChat($event)"
          (onDelete)="handleDelModalFileChat()">
        </app-chat>
        <app-comentarios
          [isVisible]="isVisibleModalComment"
          [file]="currentFile"
          (onClose)="handleCancelResolver($event)"
          (onAccept)="onClickChat($event)"
          (onSendMarkups)="handleSendMarkups($event)"
          [rol]="currentRol">
        </app-comentarios>
        <app-chat 
          [elem]="currentComment" 
          [visible]="isVisibleModalChat" 
          (onClose)="handleCancelModalResponse($event)"
          [perfil]="getPerfil"
          [text]="textAreaValue"
          [noResultText]="ChatNoResultMessage"
          (onAccept)="handleOkModalResponse($event)"
          (onDelete)="eliminarRespuesta()">
        </app-chat>  
     </ng-template>
    </ng-template>
     <ng-template #Resolver>
      <h3 *ngIf="isRejected()" [ngStyle]="rejectedHeaderInfo().style" nz-typography>{{ rejectedHeaderInfo().text }}</h3>
      <br>
      <div nz-row nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <ng-template [ngIf]="hasFilesToResolve()" [ngIfElse]="ifElse">
          <div nz-col>
            <!--p [style]="resolverFilesStyle(currentPedido)"><b>Archivos</b></p-->
            <p style="text-align: center;"><b>Archivos</b></p> 
            <nz-list nzGrid>
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngIf="currentPedido && filesToResolve()">
                <div nz-col *ngFor="let file of filesToResolve()">
                  <nz-list-item>
                    <!--nz-card [nzCover]="coverTemplate" [nzActions]="[actionAddComment, actionAddSolution]"-->
                    <nz-card [style]="cardStyle(file)" [nzCover]="coverTemplate" [nzActions]="[actionAddSolution]">
                      <nz-card-meta
                       [nzTitle]="file.name"
                        nzDescription=""
                      ></nz-card-meta>
                        <ng-template #coverTemplate>
                          <img nz-image alt="no cargo imagen" *ngIf="file && file.url" [nzSrc]="file.url" [ngStyle]="{ height: '140px', cursor: 'pointer' }">
                        </ng-template>
                        <ng-template #actionAddSolution>
                            <button *ngIf="!isRejected()" nzType="default" nz-button (click)="onClickAddSolution($event, file)">
                              Solución
                            </button>
                            <div *ngIf="isRejected()" nz-row [nzGutter]="[{ xs: 2, sm: 4, md: 6, lg: 8 }, 4]">
                              <div nz-col>
                                <button nz-button type="default" (click)="onClickAddSolution($event, file)">
                                  <p style="font-size: 10px">Solución</p>
                                </button>
                              </div>
                              <div nz-col>
                                <button 
                                  nz-button 
                                  type="default"  
                                  nz-tooltip 
                                  [nzTooltipTitle]=" file.comentarios.length === 0 ? 'No cuenta con comentarios' : '' " 
                                  (click)="file.comentarios.length > 0 ? onClickComment($event, file) : undefined"
                                >
                                  <p style="font-size: 10px;">Comentarios</p>
                                </button>
                              </div>
                            </div>
                        </ng-template>
                    </nz-card>
                  </nz-list-item>
                </div>
              </div>
            </nz-list>
          </div>
        </ng-template>
        <ng-template #ifElse>
          <!--button nz-button>
            <span nz-icon nzType="upload"></span>
            Upload
          </button MEJORAR EL UPLOAD -->
          
        </ng-template>
        
        <div nz-col>
          <p *ngIf="currentSolution || showFallback || !tieneDimension()" style="text-align: center;"><b>Solución</b></p>
          <nz-card [nzCover]="coverTemplate" *ngIf="(currentSolution && currentSolution.url) || showFallback || !tieneDimension()" 
              [nzActions]="isRejected()? [actionDeleteSolution, rejectionReason, actionAddSolution] :[actionDeleteSolution, actionAddSolution]">
            <nz-card-meta             
              nzDescription=""
              [nzAvatar]="avatarTemplate"
            ></nz-card-meta>
              <ng-template #avatarTemplate>
              </ng-template>
              <ng-template #coverTemplate>
                <ng-template [ngIf]="currentSolution && currentSolution.url" [ngIfElse]="Fallback">
                  <img nz-image [nzFallback]="fallback" alt="" [nzSrc]="currentSolution.url" width="800" height="400" >
                </ng-template>
                <ng-template #Fallback>
                  <img nz-image *ngIf="showFallback || !tieneDimension()" [nzFallback]="fallback" alt="" nzSrc="error" width="800" height="400" >
                </ng-template>  
              </ng-template>
              <ng-template #actionDeleteSolution>
                <button nz-button [disabled]="!currentSolution" (click)="onClickDeleteSolution($event)">
                  <span nz-icon nzType="delete" nzTheme="outline"></span>Eliminar
                </button>
              </ng-template>
              <ng-template #rejectionReason>
                <button nz-button (click)="onClickShowRejectionReason()">Motivo rechazo</button>
              </ng-template>
              <ng-template #actionAddSolution>
                <nz-upload
                  nzAction="http://localhost:8080/files/upload"
                  (nzChange)="handleChange($event)"
                >
                  <button nz-button>
                    <span nz-icon nzType="upload" nzTheme="outline"></span>Subir
                  </button>
                </nz-upload>
              </ng-template>
              <!--div 
                style="text-align: center;" 
                *ngIf="currentSolution && isRejected() && currentSolution.hasReplacement !== undefined"
              -->
              <div 
                style="text-align: center;" 
                *ngIf="currentSolution && isRejected()"
              >
                <p [style]="{ 'color': determineFileHasReplacementFeedback(currentSolution).color }">
                  {{ determineFileHasReplacementFeedback(currentSolution).text }}</p>
              </div>
            </nz-card>            
        </div>
      </div>
      <br>
      <div nz-row nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col *ngIf="!isRejected()">
          <button
            [disabled]="currentPedido && currentPedido.hasPayment"
            nz-button nzType="primary" 
            style="height: 50px; width: 240px;" 
            (click)="showNotifyPayment()"
          >
            <p class="resolverText">Notificar un pago</p>
          </button>
        </div>
        <div nz-col>
          <button 
            nz-button 
            disabled="{{currentPedido && !currentPedido.hasPayment}}" 
            nzType="primary" 
            style="height: 50px; width: 150px;" 
            (click)="resolver()"
            [nzLoading]="resolverLoading"
          >
            <p class="resolverText">{{resolverLoading ? '' : 'Resolver'}}</p>
          </button>
        </div>
        <div nz-col *ngIf="!isRejected()">
          <div [style]="paymentInfoStyle()">
            <p>{{ paymentInfoText().fistParagraph }}</p>
            <p>{{ paymentInfoText().secondParagraph }}</p>
          </div>
        </div>
      </div>
      <app-comentarios
        [isVisible]="isVisibleModalComment"
        [file]="currentFile"
        (onClose)="handleCancelResolver($event)"
        (onAccept)="onClickChat($event)"
        (onSendMarkups)="handleSendMarkups($event)"
        [rol]="currentRol">
      </app-comentarios>
      <app-chat 
        [elem]="currentComment" 
        [visible]="isVisibleModalChat" 
        (onClose)="handleCancelModalResponse($event)"
        [perfil]="getPerfil"
        [text]="textAreaValue"
        [noResultText]="ChatNoResultMessage"
        (onAccept)="handleOkModalResponse($event)"
        (onDelete)="eliminarRespuesta()"
        [rejected]="isRejected()">
      </app-chat>
     </ng-template>
  </nz-collapse-panel>
</nz-collapse>
<br>
<app-chat 
  [elem]="currentPedido" 
  [visible]="isVisibleModalPedidoChat" 
  (onClose)="handleClosePedidoChat($event)"
  [perfil]="getPerfil"
  [text]="textAreaValue"
  [noResultText]="ChatNoResultMessage"
  (onAccept)="handleClickAceptar($event)"
  (onDelete)="handleClickEliminarComment()">
</app-chat>

<div nz-row nzJustify="end" [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 4]">
  <div nz-col>
    <button nz-button nzType="primary" (click)="goOutside()" style="width: 120px;">Salir<i nz-icon nzType="home" nzTheme="outline"></i></button>
  </div>
  <div nz-col>
    <button nz-button nzType="primary" style="width: 120px;" (click)="onClickPedidoChat($event)">Chat<i nz-icon nzType="message" nzTheme="outline"></i></button>
  </div>
  <div nz-col>
    <button 
      *ngIf="!isRejected()" 
      nz-button nzType="primary" 
      nz-tooltip 
      [nzTooltipTitle]=" messageTitle() " 
      (click)="onClickSendBudgetButton()">Enviar presupuesto
      <span *ngIf="hasBeenSendBudget() " nz-icon nzType="check" nzTheme="outline"></span>
    </button>
  </div>  
</div>



