.algo :hover {
  background: #d8dadb;
}


nz-divider {
    color: #333;
    font-weight: normal;
  }
  .inner-box {
    background: #0092ff;
    /*padding: 8px 0; */
  }

  .inner-box2 {
    background: #469ee0;
    /*padding: 8px 0; */
  }

  .buttonGroup { 
    display:flex; 
    justify-content: flex-end; 
    outline: 2px;
    float: right;
  }

  .borrar {
    display:flex; 
    justify-content: flex-end; 
    outline: 2px;
    float: right;
  }

  .demo-infinite-container {
    height: 35vw;
    width: 40vw;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
  }

  .demo-infinite-containerRE {
    height: 35vw;
    width: 15vw;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
  }

  .demo-infinite-container2 {
    height: 100%;
    min-width: 100%;
    
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    
  }

  .border {
    border-color:rgb(179, 172, 172);
    border-width: 1.5px;
    border-style: solid;
  }

  .subTitle {
    font-weight: bold;
    /*font-size: 15px;
    font-style: italic; 
    text-decoration: underline;
    */
  }
