

nz-divider {
    color: #333;
    font-weight: normal;
  }
  .inner-box {
    background: #0092ff;
    /*padding: 8px 0; */
  }

  .inner-box2 {
    background: #469ee0;
    /*padding: 8px 0; */
  }

  .buttonGroup { 
    display:flex; 
    justify-content: flex-end; 
    outline: 2px;
    float: right;
  }

  .borrar {
    display:flex; 
    justify-content: flex-end; 
    outline: 2px;
    float: right;
  }

  .demo-infinite-container {
    height: 100%;
    width: 100%;
    
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    
  }

  .demo-infinite-container2 {
    height: 100%;
    min-width: 100%;
    
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    
  }