
<nz-collapse  nzAccordion>
  <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active">
    <ng-template [ngIf]="panel.name === 'Datos' " [ngIfElse]="ifElse">
    <div nz-col class="gutter-row">
      <nz-tabset>
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <i nz-icon [nzType]="tab.icon"></i>
            {{ tab.title }}
          </ng-template>
          <ng-template [ngIf]="tab.name === 'Pedido' " [ngIfElse]="usuario">
            <nz-descriptions *ngIf="currentPedido" nzBordered [nzColumn]="3" nzSize="middle">
              <nz-descriptions-item nzTitle="Formato" [nzSpan]="4">
                <nz-descriptions [nzColumn]="5" nzBordered>
                  <nz-descriptions-item nzTitle="Colores" [nzSpan]="6">
                    <nz-list *ngIf="currentPedido && currentPedido.tipo && currentPedido.colores">
                      <nz-list-item style="display: inline; padding-left: 3px; padding-right: 3px; border-bottom: 0 none;" *ngFor="let color of currentPedido.colores">
                        <nz-badge [nzColor]="color.hexCode" [nzText]="color.nombre"></nz-badge>                
                      </nz-list-item>
                    </nz-list> 
                  </nz-descriptions-item> 
                  <nz-descriptions-item nzTitle="Nombre">Boceto</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Alto (px)">40</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Ancho (px)">40</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Tipografía">Sanz Serif</nz-descriptions-item>
                     
                </nz-descriptions>
              </nz-descriptions-item>

              <nz-descriptions-item nzTitle="Título">Marolio</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Subtítulo">Le pone sabor a tu vida</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Fecha de entrega">2018/04/24</nz-descriptions-item>

              <nz-descriptions-item nzTitle="Cantidad">300</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Alto (px)">40</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Ancho (px)">40</nz-descriptions-item>

              <nz-descriptions-item nzTitle="Estado">
                <nz-tag *ngIf="currentPedido.state" [nzColor]="colorear(currentPedido.state)">{{currentPedido.state}}</nz-tag>
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Tipografia">Sanz Serif</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Colores" [nzSpan]="4">
                <nz-list *ngIf="currentPedido && currentPedido.colores">
                  <nz-list-item style="display: inline; padding-left: 3px; padding-right: 3px; border-bottom: 0 none;" *ngFor="let color of currentPedido.colores">
                    <nz-badge [nzColor]="color.hexCode" [nzText]="color.nombre"></nz-badge>                
                  </nz-list-item>
                </nz-list>  
              </nz-descriptions-item>

              <nz-descriptions-item nzTitle="Descripción" [nzSpan]="4">
                <p
                  nz-typography
                  nzEllipsis
                  nzExpandable
                  nzCopyable 
                  [nzCopyTooltips]="null"
                  [attr.title]="currentPedido.descripcion"
                  [nzEllipsisRows]="2"
                  [nzContent]="currentPedido.descripcion">
                </p>
              </nz-descriptions-item>
            </nz-descriptions>
          </ng-template>
          <ng-template #usuario>
            <nz-descriptions [nzColumn]="3" nzBordered nzSize="middle">
              <nz-descriptions-item nzTitle="Nombre">Nicolas Matias</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Apellido">Garcia Leguizamon</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Localidad">Av. Falsa 1234</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Nombre usuario">nicolasVick</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Correo">nicolastpi10@gmail.com</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Contacto">15463524242</nz-descriptions-item>    
            </nz-descriptions>
          </ng-template>
        </nz-tab>
      </nz-tabset>
      
    </div>
    </ng-template>

     <ng-template #ifElse>
     <ng-template [ngIf]="panel.name === 'Files' " [ngIfElse]="Solucion">
      <div nz-col class="gutter-row" [nzSpan]="16">
        <div>
            col-16
            <nz-list nzGrid>
                <div nz-row [nzGutter]="16" *ngIf="currentPedido && currentPedido.files">
                  <div nz-col [nzSpan]="6" *ngFor="let file of currentPedido.files">
                    <nz-list-item>
                      <nz-card [nzCover]="coverTemplate" [nzActions]="[actionAddComment]">
                          <nz-card-meta
                              [nzTitle]="file.name"
                              nzDescription=""
                              [nzAvatar]="avatarTemplate"
                          ></nz-card-meta>
                            <ng-template #avatarTemplate>
                            </ng-template>
                            <ng-template #coverTemplate>
                              <img nz-image alt="no cargo imagen" *ngIf="file && file.url" [nzSrc]="file.url" [ngStyle]="{ width: '100%', height: '140px', cursor: 'pointer' }">
                            </ng-template>
                            <ng-template #actionAddComment>
                              <i nz-icon nzType="comment" (click)="onClickComment($event, file)" nzTheme="outline"></i>
                            </ng-template>
                      </nz-card>
                    </nz-list-item>
                  </div>
                </div>
            </nz-list>
        </div>

        <nz-modal
              [(nzVisible)]="isVisibleModalComment"
              [nzBodyStyle]="{ minHeight: '600px' }"
              nzWidth="100%"
              nzTitle="Resolver"
              nzCentered
              (nzOnCancel)="handleCancelResolver()"
              (nzOnOk)="handleOkResolver()"
              nzOkText="Enviar marcados"
            >
              <ng-container *nzModalContent>
                  <div nz-row  [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
                    <div nz-col nzSpan="16" style="position: relative;" >
                      <img nz-image nzDisablePreview *ngIf="currentFile && currentFile.url" [nzSrc]="currentFile.url" [ngStyle]="{ width: '1220px', height: '100%'}">
                      <div *ngIf="currentFile && currentFile.comentarios">
                        <div *ngFor="let comentario of currentFile.comentarios">
                          <nz-badge
                            [nzCount]="comentario.numero"
                            [style]="badgeUponImagePositionStyle(comentario)">
                          </nz-badge>
                        </div>
                      </div>
                    </div>
                    <div nz-col nzSpan="8" >
                      <cdk-virtual-scroll-viewport itemSize="10" class="demo-infinite-container">
                      <nz-list *ngIf="currentFile && currentFile.comentarios">
                        <nz-list-item *cdkVirtualFor="let comentario of currentFile.comentarios">
                          <nz-comment [nzAuthor]="comentario.interacciones[0].rol" [nzDatetime]="now">
                            <nz-avatar
                              nz-comment-avatar
                              [textContent]="comentario.numero"
                              nzSize="large"
                              [style]="badgeColorStyle()"
                            ></nz-avatar>
                            <nz-comment-content>
                            <p
                              nz-typography
                              nzEllipsis
                              nzExpandable
                              nzCopyable 
                              [nzCopyTooltips]="null"
                              [attr.title]="comentario.interacciones[0].texto"
                              [nzEllipsisRows]="1"
                              [nzContent]="comentario.interacciones[0].texto"
                            >
                            </p>
                            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 } ">
                              <div nz-col>
                                <div nz-row [nzGutter]="8" (click)="onClickChat($event, comentario)" style="cursor: pointer;">
                                  <div nz-col>
                                      <!--strong>Ir al chat</strong-->
                                      <span nz-typography nzType="secondary">Ir al chat</span>
                                  </div>
                                  <div nz-col>
                                    <span nz-typography nzType="secondary"><i nz-icon nzType="message" nzTheme="outline"></i></span>
                                  </div>
                                </div>
                              </div>
                              <div nz-col>
                                <label nz-checkbox [(ngModel)]="comentario.terminado" (ngModelChange)="onChangeCheck($event, comentario)">
                                  <!--strong>{{ item.terminado ? 'Finalizado' : 'Marcar como finalizado' }}</strong-->
                                  <span nz-typography nzType="secondary">{{ comentario.terminado ? 'Finalizado' : 'Marcar como finalizado' }}</span>
                                </label>
                              </div>
                            </div>
                            </nz-comment-content>
                          </nz-comment> 
                        </nz-list-item>
                      </nz-list>
                      </cdk-virtual-scroll-viewport>
                    </div>
                  </div>
              </ng-container>
          </nz-modal> 
      </div>
            <nz-modal
              [(nzVisible)]="isVisibleModalChat"
              [nzBodyStyle]="{ minHeight: '600px' }"
              nzWidth="50%"
              nzTitle="Chat"
              nzCentered
              (nzOnCancel)="handleCancelChat()"
              (nzOnOk)="handleOkChat()"
            >
              <ng-container *nzModalContent>
                      <!--cdk-virtual-scroll-viewport itemSize="10" class="demo-infinite-container"-->
                      <nz-list *ngIf="currentComment && currentComment.interacciones">
                        <nz-list-item *ngFor="let interaccion of currentComment.interacciones">
                          <nz-comment [nzAuthor]="interaccion.rol" [nzDatetime]="time">
                            <nz-avatar
                              nz-comment-avatar
                              [nzIcon]="determineIcon(interaccion)"
                              [style]="avatarStyle(interaccion)"
                            ></nz-avatar>
                            <nz-comment-content>
                            <p
                              nz-typography
                              nzEllipsis
                              nzExpandable
                              nzCopyable 
                              [nzCopyTooltips]="null"
                              [attr.title]="interaccion.texto"
                              [nzEllipsisRows]="2"
                              [nzContent]="interaccion.texto"
                            >
                            </p>
                            </nz-comment-content>
                            <nz-comment-action 
                              *ngIf="sePuedeResponder(interaccion)">
                                <a (click)="responderInteraccion($event, interaccion)">{{ textAreaValue? 'Editar Respuesta' : 'Responder'}}
                                </a>
                            </nz-comment-action>
                          </nz-comment>                
                        </nz-list-item>
                      </nz-list>
                      <!--/cdk-virtual-scroll-viewport-->
              </ng-container>
            </nz-modal>
            
            <nz-modal
              [(nzVisible)]="isVisibleModalResponse"
              [nzBodyStyle]="{ minHeight: '600px' }"
              nzWidth="50%"
              nzTitle="Respuesta"
              nzCentered
              (nzOnCancel)="handleCancelModalResponse()"
              (nzOnOk)="handleOkModalResponse()"
            >
              <ng-container *nzModalContent>         
                <nz-comment *ngIf="interaccionForResponse" [nzAuthor]="interaccionForResponse.rol">
                  <nz-avatar
                    nz-comment-avatar
                    [nzIcon]="determineIcon(interaccionForResponse)"
                    [style]="avatarStyle(interaccionForResponse)"
                  ></nz-avatar>
                  <nz-comment-content>
                    <p
                      nz-typography
                      nzEllipsis
                      nzExpandable
                      nzCopyable 
                      [nzCopyTooltips]="null"
                      [attr.title]="interaccionForResponse.texto"
                      [nzEllipsisRows]="2"
                      [nzContent]="interaccionForResponse.texto"
                    >
                    </p>
                  </nz-comment-content>
                </nz-comment>

                <nz-comment nzAuthor="EDITOR" [nzDatetime]="time">
                  <nz-avatar nz-comment-avatar nzIcon="highlight" style="background-color: #f56a00"></nz-avatar>
                  <nz-comment-content>
                    <nz-form-item>
                        <textarea 
                          [disabled]="disabledResponseTextArea" 
                          (ngModelChange)="onChangeTextArea($event)" 
                          [(ngModel)]="textAreaValue" nz-input rows="5">
                        </textarea>
                    </nz-form-item>
                    <nz-form-item>
                      <button nz-button nzType="primary" (click)="setHabilitarRespuesta()">
                        {{ disabledResponseTextArea ?  'Habilitar respuesta' : 'Deshabilitar respuesta' }}
                      </button>
                    </nz-form-item>
                  </nz-comment-content>
                </nz-comment>
                
              </ng-container>
            </nz-modal> 
     </ng-template>
    </ng-template>

     <ng-template #Solucion>
      <div nz-col class="gutter-row"  [nzSpan]="6">
        <div class="inner-box">
            col-6
            <div class="clearfix">
                <nz-upload
                  nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                  nzListType="picture"
                  [(nzFileList)]="fileList1"
                >
                  <button nz-button>
                    <i nz-icon nzType="upload"></i>
                    Upload
                  </button>
                </nz-upload>
            </div>
        </div>
      </div>
     </ng-template>
  </nz-collapse-panel>
</nz-collapse>
<br>

<div nz-row class="buttonGroup" [nzGutter]="16">
  <div nz-col><button nz-button nzType="default" style="width: 120px;">Salir<i nz-icon nzType="home" nzTheme="outline"></i></button></div>
  <div nz-col><button nz-button nzType="primary">Resolver<i nz-icon nzType="check" nzTheme="outline"></i></button></div>
</div>



