

nz-divider {
    color: #333;
    font-weight: normal;
  }
  .inner-box {
    background: #0092ff;
    padding: 8px 0;
  }

  .buttonGroup { 
    display:flex; 
    justify-content: flex-end; 
    outline: 2px;
    float: right;
  }

  .borrar {
    display:flex; 
    justify-content: flex-end; 
    outline: 2px;
    float: right;
  }