
<button class="button-delete" *ngIf="currentPedido" nz-button nzType="primary" [nzLoading]="loadingEliminarPedido" (click)="eliminarPedido()" nzDanger>Eliminar <i nz-icon nzType="delete" nzTheme="outline"></i></button>
<h2 nz-typography>Ingresa tu Pedido!</h2>
<nz-divider nzType="vertical"></nz-divider>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col nzSpan="8">
    <!--form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()"-->
    <form nz-form [formGroup]="validateForm" class="login-form">
      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="Por favor ingresa un título!">
          <nz-input-group>
            <input type="text" nz-input formControlName="titulo" placeholder="Titulo" required/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control  nzHasFeedback nzErrorTip="Por favor ingrese un subtítulo!">
          <nz-input-group>
            <input type="text" nz-input formControlName="subtitulo" placeholder="Subtítulo" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="Por favor ingrese una cantidad!">
            <nz-input-group>
              <input type="number" nz-input formControlName="cantidad" placeholder="Cantidad (por defecto 1)"/>
            </nz-input-group>
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-control  nzErrorTip="El alto debe ser mayor a cero!">
              <nz-input-group>
                <input type="number" nz-input formControlName="alto" placeholder="Alto (px)"/>
              </nz-input-group>
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-control nzErrorTip="El ancho debe ser mayor a cero!">
              <nz-input-group>
                <input type="number" nz-input formControlName="ancho" placeholder="Ancho (px)"/>
              </nz-input-group>
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-control>
              <nz-input-group>
                <nz-select nzShowSearch nzAllowClear id="tipografia" nzPlaceHolder="Tipografía" formControlName="tipografia" [nzOptions]="tipografias" style=" min-width: 500px;"></nz-select>
              </nz-input-group>
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="Por favor ingrese un tipo!">
            <nz-input-group>
              <nz-select nzShowSearch nzAllowClear id="tipos" nzPlaceHolder="Tipo" formControlName="tipo" [nzOptions]="tiposDePedidos" style=" min-width: 500px;"></nz-select>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <nz-select nzAllowClear nzPlaceHolder="Colores" nzMode="multiple" formControlName="color" [nzCustomTemplate]="multipleTemplate" [nzOptions]="colores" style=" min-width: 500px;">
          </nz-select>
          <ng-template #multipleTemplate let-selected>
            <div class="ant-select-selection-item-content">
              <nz-badge [nzColor]="selected.nzValue"></nz-badge>
                {{ selected.nzLabel }}
            </div>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-input-group>
        <nz-textarea-count [nzMaxCharacterCount]="100" >
          <textarea rows="4" placeholder="Descripción" formControlName="comentario" nz-input></textarea>
        </nz-textarea-count>
      </nz-input-group>
    </nz-form-item>
    <br>  
    <button 
      nz-button class="login-form-button login-form-margin" 
      [nzLoading]="uploading"
      (click)="onClickAlta()" 
      [nzType]="'primary'">{{ uploading ? 'Subiendo...' : 'Alta' }} 
    </button>
    <button nz-button class="button-clear" (click)="resetForm()">Limpiar</button>
  </form>
  </div>
  <div nz-col nzSpan="8">
    <div class="inner-box">
      <!--nz-upload
        [nzFileList]="fileList"
        [nzBeforeUpload]="beforeUpload"
      >
        <button nz-button>
          <i nz-icon nzType="upload"></i>
          Elige un archivo
        </button>
      </nz-upload-->
      <nz-upload
        nzAction="http://localhost:8080/files/upload"
        nzListType="picture-card"
        [(nzFileList)]="fileList"
        [nzShowButton]="fileList.length < 8"
        [nzPreview]="handlePreview"
        (nzChange)="handleChange($event)"
        *ngIf="currentPedido"
      >
        <div>
          <i nz-icon nzType="plus"></i>
          <div style="margin-top: 8px">Upload</div>
        </div>
      </nz-upload>
      <nz-modal
        [nzVisible]="previewVisible"
        [nzContent]="modalContent"
        [nzFooter]="null"
        (nzOnCancel)="previewVisible = false"
      >
        <ng-template #modalContent>
          <img nz-image [nzSrc]="previewImage"  [ngStyle]="{ width: '100%' }" />
        </ng-template>
      </nz-modal>

      <!--button
        nz-button
        [nzType]="'primary'"
        [nzLoading]="uploading"
        (click)="handleUpload()"
        [disabled]="fileList.length === 0"
        style="margin-top: 16px"
      >
      {{ uploading ? 'Uploading' : 'Start Upload' }}
      </button-->
      
    </div>
  </div>
  <div nz-col nzSpan="8">
    <div class="requirements-box">
      <nz-tabset [(nzSelectedIndex)]="index" nzType="editable-card" nzHideAdd (nzClose)="closeTab($event)" (nzSelectedIndexChange)="onChangeSelectedIndexTab($event)">
        <nz-tab *ngFor="let tab of tabs; let i = index" [nzTitle]="tab.name">

      <button nz-button nzType="primary" [disabled]="disabledAgregarRequerimiento()" (click)="agregarRequerimiento()">Agregar requerimiento</button>
      <nz-list class="demo-loadmore-list" *ngIf="currentFile">
        <nz-list-item *ngFor="let item of findRequerimientos()">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input type="text" nz-input [ngModel]="item.descripcion" (ngModelChange)="onChangeReq($event, item)" >
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" title="eliminar" (click)="onClickEliminarReq($event, item)" nzSearch><i nz-icon nzType="close-circle" nzTheme="outline"></i></button>
            </ng-template>
        </nz-list-item>
        <nz-list-footer><button nz-button nzType="primary" [disabled]="currentFile && currentFile.requerimientos && currentFile.requerimientos.length <= 0" (click)="agregarTodosLosRequerimientos()">Aceptar</button></nz-list-footer>  
      </nz-list>
      </nz-tab>
      </nz-tabset>
    
    </div>
  </div>
</div>

