
<!--*ngIf="currentPedido" -->
<div class="row">
<h2 style="float: left" nz-typography>Ingresa tu pedido!</h2>
<button class="button-delete" nz-button nzType="primary" [nzLoading]="loadingEliminarPedido" (click)="eliminarPedido()" nzDanger>Eliminar <i nz-icon nzType="delete" nzTheme="outline"></i></button>
</div>
<br>
<br>
<nz-collapse nzAccordion>
  <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active" [nzDisabled]="panel.disabled">
    <ng-template [ngIf]="panel.name === 'Datos' " [ngIfElse]="ifElse">
    <div nz-row nzJustify="center" nzAlign="top">
    <div nz-col nzSpan="8">
        <form nz-form [formGroup]="validateForm" class="login-form">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Por favor ingresa un título!">
              <nz-input-group>
                <input type="text" nz-input formControlName="titulo" placeholder="Titulo" required/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control  nzHasFeedback nzErrorTip="Por favor ingrese un subtítulo!">
              <nz-input-group>
                <input type="text" nz-input formControlName="subtitulo" placeholder="Subtítulo" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="Por favor ingrese una cantidad!">
                <nz-input-group>
                  <input type="number" nz-input formControlName="cantidad" placeholder="Cantidad (por defecto 1)"/>
                </nz-input-group>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control  nzErrorTip="El alto debe ser mayor a cero!">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="alto" placeholder="Alto (px)"/>
                  </nz-input-group>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control nzErrorTip="El ancho debe ser mayor a cero!">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="ancho" placeholder="Ancho (px)"/>
                  </nz-input-group>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control>
                  <nz-input-group>
                    <nz-select nzShowSearch nzAllowClear id="tipografia" nzPlaceHolder="Tipografía" formControlName="tipografia" [nzOptions]="tipografias"></nz-select>
                  </nz-input-group>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Por favor ingrese un tipo!">
                <nz-input-group>
                  <nz-select nzShowSearch nzAllowClear id="tipos" nzPlaceHolder="Tipo" formControlName="tipo" [nzOptions]="tiposDePedidos" ></nz-select>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <nz-select nzAllowClear nzPlaceHolder="Colores" nzMode="multiple" formControlName="color" [nzCustomTemplate]="multipleTemplate" [nzOptions]="colores"></nz-select>
              <ng-template #multipleTemplate let-selected>
                <div class="ant-select-selection-item-content">
                  <nz-badge [nzColor]="selected.nzValue"></nz-badge>
                    {{ selected.nzLabel }}
                </div>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-input-group>
            <nz-textarea-count [nzMaxCharacterCount]="100" >
              <textarea rows="4" placeholder="Descripción" formControlName="comentario" nz-input></textarea>
            </nz-textarea-count>
          </nz-input-group>
        </nz-form-item>
        <br>  
        <button 
          nz-button class="login-form-button login-form-margin" 
          [nzLoading]="loadingAlta"
          (click)="onClickAlta()" 
          [nzType]="'primary'">{{ loadingAlta ? 'Espere...' : 'Alta' }} 
        </button>
        <button nz-button class="button-clear" (click)="resetForm()">Limpiar</button>
      </form>
    </div>
  </div>
  </ng-template>


     <ng-template #ifElse>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col nzSpan="8">
          <div class="inner-box">
            <nz-upload
              class="upload-currentPedido"
              nzAction="http://localhost:8080/files/upload"
              nzListType="picture-card"
              [(nzFileList)]="fileList"
              [nzShowButton]="fileList.length < 8"
              [nzPreview]="handlePreview"
              (nzChange)="handleChange($event)"
              *ngIf="currentPedido"
            >
              <div>
                <i nz-icon nzType="plus"></i>
                <div style="margin-top: 8px">Subir archivo</div>
              </div>
            </nz-upload>
            <nz-modal
              [nzVisible]="previewVisible"
              [nzContent]="modalContent"
              [nzFooter]="null"
              (nzOnCancel)="previewVisible = false"
            >
              <ng-template #modalContent>
                <!--nzDisablePreview-->
                <img nz-image *ngIf="previewImage" [nzSrc]="previewImage"  [ngStyle]="{ width: '100%' }" />
              </ng-template>
            </nz-modal>
          </div>
        </div>
        <div nz-col nzSpan="16">
          <div class="inner-box">
              <nz-list nzGrid>
                <div nz-row [nzGutter]="16">
                  <div nz-col [nzSpan]="8" *ngFor="let file of files">
                    <nz-list-item>
                        <!--nz-card [nzCover]="coverTemplate" [nzActions]="[actionEllipsis]"-->
                        <nz-card [nzCover]="coverTemplate" [nzActions]="[actionDelete, actionEdit]">
                            <nz-card-meta
                                [nzTitle]="file.name"
                                nzDescription=""
                                [nzAvatar]="avatarTemplate"
                            ></nz-card-meta>
                              <ng-template #avatarTemplate>
                                <!--nz-avatar [nzSrc]="file.url"></nz-avatar-->
                              </ng-template>
                              <ng-template #coverTemplate>
                                <!--nzDisablePreview-->
                                <img nz-image alt="no cargo imagen" *ngIf="file && file.url" [nzSrc]="file.url" [ngStyle]="{ width: '100%', height: '140px', cursor: 'pointer' }">
                              </ng-template>
                              <ng-template #actionDelete>
                                <i nz-icon nzType="delete" (click)="onClickDeleteFile($event, file)"></i>
                              </ng-template>
                              <ng-template #actionEdit>
                                <i nz-icon nzType="edit" (click)="onClickEditFile($event, file)"></i>
                              </ng-template>
                              <!--ng-template #actionEllipsis>
                                <i nz-icon nzType="ellipsis"></i>
                              </ng-template-->
                        </nz-card>
                    </nz-list-item>
                  </div>
                </div>
            </nz-list>
            <nz-modal
              [(nzVisible)]="isVisibleMiddle"
              [nzBodyStyle]="{ minHeight: '600px' }"
              nzWidth="800px"
              nzTitle="Agregar requerimientos"
              nzCentered
              (nzOnCancel)="handleCancelMiddle()"
              (nzOnOk)="handleOkMiddle()"
            >
              <ng-container *nzModalContent>
                <div nz-col>
                  <!--div class="requirements-box"-->
                    <button nz-button nzType="primary" [disabled]="disabledAgregarRequerimiento()" (click)="agregarRequerimiento()">Agregar requerimiento</button>
                    <nz-list class="demo-loadmore-list" *ngIf="currentFile">
                      <nz-list-item *ngFor="let item of currentFile.requerimientos">
                          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                            <input type="text" nz-input [ngModel]="item.descripcion" (ngModelChange)="onChangeReq($event, item)" >
                          </nz-input-group>
                          <ng-template #suffixIconButton>
                            <button nz-button nzType="primary" title="eliminar" (click)="onClickEliminarReq($event, item)" nzSearch><i nz-icon nzType="close-circle" nzTheme="outline"></i></button>
                          </ng-template>
                      </nz-list-item>
                      <!--nz-list-footer>
                        <button nz-button nzType="primary" [disabled]="currentFile && currentFile.requerimientos && currentFile.requerimientos.length <= 0" (click)="agregarTodosLosRequerimientos()">Aceptar</button>
                      </nz-list-footer-->  
                    </nz-list>
                  <!--/div-->
                </div>
              </ng-container>
            </nz-modal>        
          </div>
        </div>
      </div>
    </ng-template>
  </nz-collapse-panel>
</nz-collapse>
<br>
<button nz-button class="button-out" nzType="primary" (click)="goOutside()">Salir<i nz-icon nzType="home" nzTheme="outline"></i></button>

