

<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzHasFeedback nzErrorTip="Por favor ingresa un título!">
        <nz-input-group>
          <input type="text" nz-input formControlName="titulo" placeholder="Ingrese un titulo" required/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control  nzHasFeedback nzErrorTip="Por favor ingrese un subtítulo!">
        <nz-input-group>
          <input type="text" nz-input formControlName="subtitulo" placeholder="Ingrese un subtítulo" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="Por favor ingrese una cantidad!">
          <nz-input-group>
            <input type="number" nz-input [ngModel]="'1'" formControlName="cantidad" placeholder="Cantidad"/>
          </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
              <input type="text" nz-input [ngModel]="'Azul'" formControlName="color" placeholder="Ingrese un color"/>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
              <input type="number" nz-input formControlName="alto" placeholder="Ingrese un alto"/>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
              <input type="number" nz-input formControlName="ancho" placeholder="Ingrese un ancho"/>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
              <input type="text" nz-input formControlName="tipografia" placeholder="Ingrese una tipografía"/>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Alta</button>
</form>
