

nz-divider {
    color: #333;
    font-weight: normal;
  }

  nz-input-group {
    width: 100%;
  }
.inner-box {
    background: #0092ff;
    padding: 8px 0;
    min-height: 100%;
    width: 70%;
  }

  .requirements-box {
    background: #00ffc8;
    min-height: 100%;
    /*
    width: 70%;
    
    padding: 8px 0;
    
    */
  }

  .login-form {
    max-width: 500px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 50%;
  }
  .button-clear {
      width: 50%;
  }
  
  .nz-select {
    min-width: 300px;
  }

  .button-upload {
    width: 100%; 
  }

  