.demo-infinite-container {
  height: 100%;
  min-width: 100%;
  /*
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  */
}

nz-divider {
    color: #333;
    font-weight: normal;
  }

  nz-input-group {
    width: 100%;
  }
.inner-box {
    background: #0092ff;
    padding: 8px 0;
    min-height: 100%;
    width: 70%;
  }

  .button-delete { 
    display:flex; 
    justify-content: flex-end; 
    outline: 2px;
    float: right;
    width:100px;
  }

  .button-out {
    display:flex; 
    justify-content: flex-end; 
    outline: 2px;
    float: right;
    width:100px;
  }

  .requirements-box {
    background: #00ffc8;
    min-height: 100%;
    /*
    width: 70%;
    
    padding: 8px 0;
    
    */
  }

  /*

  .login-form {
    max-width: 500px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }
  */

  .login-form-button {
    width: 50%;
  }
  .button-clear {
      width: 50%;
  }
  
  nz-select {
    min-width: 100%;
  }

  .button-upload {
    width: 100%; 
  }
  .buttonGroup {
    display:block; 
    justify-content: flex-end; 
    outline: 2px;
    float: right
  }

 

  