<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            [nzCollapsedWidth]="0"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="bienvenido/" target="_blank">
        <img src="./assets/herramienta-de-diseno.gif" alt="logo">
        <h1>Índigo Gráfica</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/bienvenido">Bienvenido</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/nuevo">Nuevo</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/todos">Todos</a>&nbsp;<nz-badge nzStandalone [nzCount]="cantidadPendienteAtencion" [nzOverflowCount]="99"  [nzStyle]="{ backgroundColor: determiteBadgeColor(), color: '#000000' }"></nz-badge>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/reservados">Reservados</a>&nbsp;<nz-badge nzStandalone [nzCount]="cantidadReservados" [nzOverflowCount]="99"  [nzStyle]="{ backgroundColor: determiteBadgeColor(), color: '#000000' }"></nz-badge>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/revision">En revisión</a>&nbsp;<nz-badge nzStandalone [nzCount]="cantidadEnRevision" [nzOverflowCount]="99" [nzStyle]="{ backgroundColor: determiteBadgeColor(), color: '#000000' }"></nz-badge>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/retornados">Retornados</a>&nbsp;<nz-badge nzStandalone [nzCount]="cantidadRetornados" [nzOverflowCount]="99" [nzStyle]="{ backgroundColor: determiteBadgeColor(), color: '#000000' }"></nz-badge>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/finalizados">Finalizados</a>&nbsp;<i nz-icon nzType="flag" nzTheme="outline"></i>&nbsp;<nz-badge nzStandalone [nzCount]="cantidadFinalizados" [nzOverflowCount]="99"  [nzStyle]="{ backgroundColor: determiteBadgeColor(), color: '#000000' }"></nz-badge>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <span (click)="onClickCarrito()">
          <i  class="cart-normal"
              nz-icon
              nzType="shopping-cart" 
              nzTheme="outline"
          ></i>
        </span> 
        <!--span>
          <strong style="font-size: medium; float: right;"><i
            class="user" 
            nz-icon 
            nzType="user" 
            nzTheme="outline">
          </i>Nicolás García</strong>   
        </span-->
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
