<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="bienvenido/" target="_blank">
        <img src="./assets/herramienta-de-diseno.gif" alt="logo">
        <h1>Índigo Gráfica</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/bienvenido">Bienvenido</a>
          </li>
          <li id="nuevo-menu" nz-menu-item nzMatchRouter *ngIf="mostrarOpcionesCliente|| mostrarOpcionesEncargado">
            <a routerLink="/nuevo">Nuevo</a>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="mostrarOpcionesCliente || mostrarOpcionesEncargado">
            <a routerLink="/todos">Todos</a>&nbsp;<nz-badge nzShowZero nzStandalone [nzCount]="amountForAll()" [nzOverflowCount]="99"  [nzStyle]="{ backgroundColor: determiteBadgeColorForAll(), color: '#000000' }"></nz-badge>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="mostrarOpcionesEncargado">
            <a routerLink="/reservados">Reservados</a>&nbsp;<nz-badge nzShowZero nzStandalone [nzCount]="amountByState(reservado)" [nzOverflowCount]="99"  [nzStyle]="{ backgroundColor: determiteBadgeColor(reservado), color: '#000000' }"></nz-badge>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="mostrarOpcionesEncargado">
            <a routerLink="/revision">En revisión</a>&nbsp;<nz-badge nzShowZero nzStandalone [nzCount]="cantidadEnRevision" [nzOverflowCount]="99" [nzStyle]="{ backgroundColor: determiteBadgeColor(), color: '#000000' }"></nz-badge>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="mostrarOpcionesEncargado">
            <a routerLink="/retornados">Retornados</a>&nbsp;<nz-badge nzShowZero nzStandalone [nzCount]="cantidadRetornados" [nzOverflowCount]="99" [nzStyle]="{ backgroundColor: determiteBadgeColor(), color: '#000000' }"></nz-badge>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="mostrarOpcionesEncargado">
            <a routerLink="/finalizados">Finalizados</a>&nbsp;<i nz-icon nzType="flag" nzTheme="outline"></i>&nbsp;<nz-badge nzShowZero nzStandalone [nzCount]="cantidadFinalizados" [nzOverflowCount]="99"  [nzStyle]="{ backgroundColor: determiteBadgeColor(), color: '#000000' }"></nz-badge>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <!-- login -->
        <button class="button-normal" (click)="showModalLogin()" *ngIf="!isLoggedIn" nz-button nzType="default">Ingresar</button>
        <!-- logout -->
        <button class="button-normal" (click)="logout()" *ngIf="isLoggedIn" nz-button nzType="default">Cerrar sesión</button>
        <button *ngIf="isLoggedIn" nz-button nzType="default">{{username}}</button>
        <!-- signon -->
        <!--span (click)="showModalRegistrar()" *ngIf="!isLoggedIn">
          <i class="cart-normal" 
             nz-icon nzType="user-add" 
             nzTheme="outline">
          </i>
        </span-->
        <button class="button-normal" (click)="showModalRegistrar()" *ngIf="!isLoggedIn" nz-button nzType="primary">Creá tu cuenta</button>
        <span (click)="onClickCart()" *ngIf="isLoggedIn">
          <i 
            class="cart-normal"
            nz-icon
            nzType="shopping-cart" 
            nzTheme="outline"
          ><p class="counter">{{ amountToShowInCart() }}</p></i>
        </span> 
        <!--span>
          <strong style="font-size: medium; float: right;"><i
            class="user" 
            nz-icon 
            nzType="user" 
            nzTheme="outline">
          </i>Nicolás García</strong>   
        </span-->
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
        <nz-layout>
          <nz-modal [nzFooter]="null" [(nzVisible)]="isVisibleLogin" nzTitle="login" (nzOnCancel)="handleCancelLogin()" (nzOnOk)="handleOkLogin()">
            <ng-container *nzModalContent>
              <login-component></login-component>
            </ng-container>
          </nz-modal>
        </nz-layout>
        <nz-layout>
          <nz-modal [nzFooter]="null" [(nzVisible)]="isVisibleRegistrar" nzTitle="Registrarse" (nzOnCancel)="handleCancelRegistrar()" (nzOnOk)="handleOkRegistrar()">
            <ng-container *nzModalContent>
              <registrar-component></registrar-component>
            </ng-container>
          </nz-modal>
        </nz-layout>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
