
<div class="carrito">
  <ng-template [ngIf]="loading" [ngIfElse]="ifElse">
    <nz-spin class="spinning" nzTip="Espere mientras se cargan los pedidos en el carrito..." ></nz-spin>
  </ng-template>
  <ng-template #ifElse>
    <h2 nz-typography>Carrito</h2>
    <ng-template [ngIf]="pedidos && pedidos.length  > 0" [ngIfElse]="CarritoVacio">

            <p>ESTE ES EL TOTAL :{{ total }}</p>
            <nz-list nzBordered>
              <!--div nz-row nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                <div nz-col nzSpan="24"-->
                  <nz-list-item *ngFor="let pedido of pedidos">
                    <div nz-col class="algo" style="border: 5px solid #FFFF00" nzSpan="24">
                    <nz-tabset>
                      <nz-tab *ngFor="let tab of tabs" (nzClick)="onClickTab()" [nzTitle]="titleTemplate">
                        <ng-template #titleTemplate>
                          <i nz-icon [nzType]="tab.icon"></i>
                            {{ tab.title }}
                        </ng-template>
                        <ng-template [ngIf]="tab.name === 'Info' " [ngIfElse]="files">
                              <div nz-row nzJustify="center" [nzGutter]="{ xs: 24, sm: 32, md: 48, lg: 64 }">
                                <!--ng-template [ngIf]="pedido.id.lenght < 10 || pedido.expandedId" [ngIfElse]="WithoutExpandedId"-->
                                  <div nz-col>
                                    <p class="subTitle">Id :</p>
                                    <p>{{ pedido.id ? pedido.id : "-" }}</p>
                                  </div>
                                <!--/ng-template>
                                <ng-template #WithoutExpandedId>
                                  <div nz-col nzSpan="6">
                                    <p class="subTitle">Id :</p>
                                    <p
                                        nz-typography
                                        nzEllipsis
                                        (nzExpandChange)="onExpandedChangedId(pedido)"
                                        nzExpandable="true" 
                                        [nzCopyTooltips]="null"
                                        [attr.title]="pedido.id"
                                        [nzEllipsisRows]="1"
                                        [nzContent]="pedido.id"
                                      >
                                    </p>
                                  </div>
                                </ng-template-->
                                <!--ng-template [ngIf]="pedido.nombre.lenght < 10 || pedido.expandedTitle" [ngIfElse]="WithoutExpanded"-->
                                  <div nz-col>
                                    <p class="subTitle">Título :</p>
                                    <p>{{pedido.nombre ? pedido.nombre : '-' }}</p>
                                  </div>
                                <!--/ng-template>
                                <ng-template #WithoutExpanded>
                                  <div nz-col nzSpan="4">
                                    <p class="subTitle">Título :</p>
                                    <p
                                        nz-typography
                                        nzEllipsis
                                        (nzExpandChange)="onExpandedChangeTitle(pedido)"
                                        nzExpandable="true" 
                                        [nzCopyTooltips]="null"
                                        [attr.title]="pedido.nombre"
                                        [nzEllipsisRows]="1"
                                        [nzContent]="pedido.nombre"
                                      >
                                    </p>
                                  </div>
                                </ng-template-->
                                <div nz-col>
                                  <p class="subTitle">Tipo :</p>
                                  <p>{{ pedido.tipo && pedido.tipo.nombre ? pedido.tipo.nombre : '-'}}</p>
                                </div>
                                <div nz-col >
                                  <p class="subTitle">Fecha Entrega :</p>
                                  <p>{{ pedido.fechaEntrega ? toLocalDateStringFunction(pedido.fechaEntrega) : '-'}}</p>
                                </div>
                                <div nz-col>
                                  <p class="subTitle">Estado :</p>
                                  <ng-template [ngIf]="pedido.state" [ngIfElse]="WithoutState">
                                    <p><nz-tag [nzColor]="colorear(pedido.state)">{{pedido.state}}</nz-tag></p>
                                  </ng-template>
                                  <ng-template #WithoutState>
                                    <p>-</p>
                                  </ng-template>
                                </div>
                                <div nz-col>
                                  <p class="subTitle">Encargado :</p>
                                  <p>{{ pedido.encargado && pedido.encargado.nombre && pedido.encargado.apellido ? pedido.encargado.nombre + " " + pedido.encargado.apellido : '-'}}</p>
                                </div>
                                <div nz-col>
                                  <p class="subTitle">Cantidad :</p>
                                  <p>{{ pedido.cantidad ? pedido.cantidad : '-'}}</p>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #files>
                          <ng-template [ngIf]="pedido.files && pedido.files.length" [ngIfElse]="NoFiles">
                            <p style="text-align: center;"><b>Archivos</b></p>
                            <nz-list nzGrid>
                                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngIf="pedido.files">
                                  <div nz-col *ngFor="let file of pedido.files">
                                    <nz-list-item>
                                      <nz-card [nzCover]="coverTemplate" [nzActions]="[actions]">
                                          <nz-card-meta
                                              [nzTitle]="file.name"
                                              nzDescription=""
                                          ></nz-card-meta>
                                            <ng-template #coverTemplate>
                                              <img nz-image alt="no cargo imagen" *ngIf="file && file.url" [nzSrc]="file.url" [ngStyle]="{ width: '150px', height: '160px', cursor: 'pointer' }">
                                            </ng-template>
                                            <ng-template #actions>
                                              <div nz-row [nzGutter]="[{ xs: 2, sm: 4, md: 6, lg: 8 }, 4]">
                                                <div nz-col>
                                                  <button nz-button type="default" (click)="onClickFileChat(file, pedido)">
                                                    <p style="font-size: 10px;">Chat</p>
                                                  </button>
                                                </div>
                                                <div nz-col>
                                                  <button nz-button type="default" (click)="onClickShowFileComments($event, file, pedido)">
                                                    <p style="font-size: 10px;">Comentarios</p>
                                                  </button>
                                                </div>
                                              </div>
                                            </ng-template>
                                      </nz-card>
                                    </nz-list-item>
                                  </div>
                                </div>
                            </nz-list>
                          </ng-template>
                          <ng-template  #NoFiles>
                            <!--div class="center"-->
                              <!--p>No cuenta con archivos para este pedido</p>
                              <p>Puede editar el pedido para agregarlas</p-->
                                <div nz-col nzSpan="24">
                                  <img nz-image alt="" [nzSrc]="fallback" class="border" width="150" height="160" >
                                </div>
                            <!--/div-->
                          </ng-template>
                        </ng-template>
                        <div nz-row class="buttonGroup" [nzGutter]="16">
                          <div nz-col>
                            <button 
                              nz-button
                              class="actions" 
                              (click)="onClickMoreInfo($event, pedido)" 
                              nzType="primary" 
                              >Más Info
                            </button>
                          </div>
                          <div nz-col>
                            <button
                              nz-button 
                              class="actions" 
                              (click)="onClickChat(pedido)" 
                              nzType="primary">Chat
                            </button>
                          </div>
                          <div nz-col>
                            <button
                              nz-button 
                              class="actions" 
                              (click)="onClickEdit(pedido)" 
                              nzType="primary">Editar
                            </button>
                          </div>
                        </div>
                      </nz-tab>  
                    </nz-tabset>
                  </div>
                  </nz-list-item>
                <!--/div>
              </div-->
            </nz-list>
            <app-chat 
              [elem]="currentFile" 
              [visible]="isVisibleModalChatUponAFile"
              [perfil]="getPerfil"
              [text]="userCommentValue"
              [noResultText]="ChatNoResultMessage"
              (onClose)="handleCloseFileChat($event)"
              (onAccept)="onAcceptModalFileChat($event)"
              (onDelete)="onDelModalFileChat()">
            </app-chat>
            <nz-modal
              [(nzVisible)]="isVisibleModalFileComments"
              [nzBodyStyle]="{ minHeight: '600px' }"
              nzWidth="100%"
              nzTitle="Responder"
              nzCentered
              (nzOnCancel)="handleCancelResolver()"
              (nzOnOk)="handleOkResolver()"
              nzOkText="Ok"
            >
              <ng-container *nzModalContent>
                <p style="text-align: center;"><b>Comentarios</b></p>
                  <div nz-row nzJustify="center" [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]" >
                    <div nz-col style="position: relative;">
                      <img nz-image nzDisablePreview *ngIf="currentFile && currentFile.url" [nzSrc]="currentFile.url" [ngStyle]="{ maxWidth: '600px', minHeight: '400px'}">
                      <div *ngIf="currentFile && currentFile.comentarios">
                        <div *ngFor="let comentario of currentFile.comentarios">
                          <nz-badge
                            [nzCount]="comentario.numero"
                            [style]="badgeUponImagePositionStyle(comentario)">
                          </nz-badge>
                        </div>
                      </div>
                    </div>
                    <div nz-col>
                      <cdk-virtual-scroll-viewport itemSize="10" class="demo-infinite-container">
                      <nz-list class="algo" *ngIf="currentFile && currentFile.comentarios">
                        <nz-list-item  *cdkVirtualFor="let comentario of currentFile.comentarios">
                          <nz-comment [nzAuthor]="comentario.interacciones[0].rol" [nzDatetime]="toFullDate(comentario.creationDate)">
                            <nz-avatar
                              nz-comment-avatar
                              [textContent]="comentario.numero"
                              nzSize="large"
                              [style]="badgeColorStyleFunction()"
                            ></nz-avatar>
                            <nz-comment-content>
                            <p
                              nz-typography
                              nzEllipsis
                              nzExpandable
                              nzCopyable 
                              [nzCopyTooltips]="null"
                              [attr.title]="comentario.interacciones[0].texto"
                              [nzEllipsisRows]="1"
                              [nzContent]="comentario.interacciones[0].texto"
                            >
                            </p>
                            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 } ">
                              <div nz-col>
                                <div nz-row [nzGutter]="8" (click)="onClickComment($event, comentario)" style="cursor: pointer;">
                                  <div nz-col>
                                      <span nz-typography nzType="secondary">Ir al chat</span>
                                  </div>
                                  <div nz-col>
                                    <span nz-typography nzType="secondary"><i nz-icon nzType="message" nzTheme="outline"></i></span>
                                  </div>
                                </div>
                              </div>
                              <div nz-col>
                                <div nz-row [nzGutter]="8">
                                  <div nz-col>
                                    <div nz-typography nzType="secondary">Tiene respuesta?</div>
                                  </div>
                                  <div nz-col>
                                    <div nz-typography nzType="secondary">
                                      <ng-template [ngIf]="comentario.respondido" [ngIfElse]="ShowClose">
                                          <span nz-icon nzType="check" style="color: green;" nzTheme="outline"></span>
                                      </ng-template>
                                      <ng-template #ShowClose>
                                          <span nz-icon nzType="close" style="color: red;" nzTheme="outline"></span>
                                      </ng-template>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div nz-col>
                                <div nz-row [nzGutter]="8">
                                  <div nz-col>
                                    <div nz-typography nzType="secondary">Está finalizado?</div>
                                  </div>
                                  <div nz-col>
                                    <div nz-checkbox [(ngModel)]="comentario.terminado" (ngModelChange)="onChangeCheck($event, comentario)"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </nz-comment-content>
                          </nz-comment> 
                        </nz-list-item>
                      </nz-list>
                      </cdk-virtual-scroll-viewport>
                    </div>
                  </div>
              </ng-container>
            </nz-modal>
            <nz-modal
              [(nzVisible)]="isVisibleModalMoreInfo"
              [nzBodyStyle]="{ minHeight: '600px' }"
              nzWidth="50%"
              nzTitle="Más Info"
              nzCentered
              nzOkText="Ok"
              nzCancelText="Cerrar"
              (nzOnCancel)="handleCancelMoreInfo()"
              (nzOnOk)="handleOkMoreInfo()"
            >
                    <ng-container *nzModalContent>
                      <div nz-row *ngIf="currentPedido" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 } ">
                        <div nz-col class="child" nzSpan="24">
                          <p class="subTitle">Id :</p>
                          <p>{{ currentPedido.id ? currentPedido.id : "-" }}</p>
                        </div>
                        <div nz-col nzSpan="24">
                          <div nz-row nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 } ">
                            <div nz-col nzSpan="8">
                              <p class="subTitle">Título :</p>
                              <p>{{ currentPedido.nombre ? currentPedido.nombre : "-" }}</p>
                            </div>
                            <div nz-col nzSpan="8">
                              <p class="subTitle">SubTítulo :</p>
                              <p>{{ currentPedido.nombreExtendido ? currentPedido.nombreExtendido : "-" }}</p>
                            </div>
                          </div>
                        </div>
                        <div nz-col nzSpan="24">
                          <div nz-row nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 } ">
                            <div nz-col nzSpan="8">
                              <p class="subTitle">Tipo :</p>
                              <p>{{ currentPedido.tipo && currentPedido.tipo.nombre ? currentPedido.tipo.nombre : '-'}}</p>
                            </div>
                            <div nz-col nzSpan="8">
                              <p class="subTitle">Fecha Entrega :</p>
                              <p>{{ currentPedido.fechaEntrega ? toLocalDateStringFunction(currentPedido.fechaEntrega) : '-'}}</p>
                            </div>
                          </div>
                        </div>
                        <div nz-col nzSpan="24">
                          <div nz-row nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 } ">
                            <div nz-col nzSpan="8">
                              <p class="subTitle">Alto (px) :</p>
                              <p>{{ currentPedido.alto ? currentPedido.alto : (currentPedido.tipo  ? currentPedido.tipo.alto : "-") }}</p>
                            </div>
                            <div nz-col nzSpan="8">
                              <p class="subTitle">Ancho (px) :</p>
                              <p>{{ currentPedido.ancho ? currentPedido.ancho : (currentPedido.tipo  ? currentPedido.tipo.ancho : "-") }}</p>
                            </div>
                          </div>
                        </div>
                        <div nz-col nzSpan="24">
                          <div nz-row nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 } ">
                            <div nz-col nzSpan="8">
                              <p class="subTitle">Cantidad :</p>
                              <p>{{ currentPedido.cantidad }}</p>
                            </div>
                            <div nz-col nzSpan="8">
                              <p class="subTitle">Tipografía :</p>
                              <p>{{ currentPedido.tipografia ? currentPedido.tipografia : (currentPedido.tipo  ? currentPedido.tipo.tipografia : "-") }}</p>
                            </div>
                          </div>
                        </div>
                        <div nz-col nzSpan="24">
                          <div nz-row nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 } ">
                            <div nz-col nzSpan="8">
                              <p class="subTitle">Estado :</p>
                              <ng-template [ngIf]="currentPedido.state" [ngIfElse]="WithoutState">
                                <p><nz-tag [nzColor]="colorear(currentPedido.state)">{{currentPedido.state}}</nz-tag></p>
                              </ng-template>
                              <ng-template #WithoutState>
                                <p>-</p>
                              </ng-template>
                            </div>
                            <div nz-col nzSpan="8">
                              <p class="subTitle">Colores :</p>
                              <ng-template 
                                [ngIf]="(currentPedido.colores && currentPedido.colores.length > 0) || (currentPedido.tipo && currentPedido.tipo.colores)" [ngIfElse]="WithoutColors">
                                <nz-list>
                                  <nz-list-item style="display: inline; padding-left: 3px; padding-right: 3px; border-bottom: 0 none;" *ngFor="let color of pedidoColores()">
                                    <nz-badge [nzColor]="color.hexCode">{{ color.nombre }}</nz-badge>
                                  </nz-list-item>
                                </nz-list>
                              </ng-template>
                              <ng-template #WithoutColors>
                                <p>-</p>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                        <div nz-col nzSpan="24">
                          <p class="subTitle">Descripción :</p>
                          {{ currentPedido.descripcion ? currentPedido.descripcion : "-" }}
                        </div>
                      </div>      
                    </ng-container>
                  </nz-modal>
                  <app-chat 
                    [elem]="currentPedido" 
                    [visible]="isVisibleModalChat" 
                    (onClose)="handleCloseChat($event)"
                    [perfil]="getPerfil"
                    [text]="userCommentValue"
                    [noResultText]="ChatNoResultMessage"
                    (onAccept)="handleClickAceptar($event)"
                    (onDelete)="handleClickEliminarComment()">
                  </app-chat>
                  <app-chat 
                    [elem]="currentComment" 
                    [visible]="isVisibleModalFilesChat" 
                    (onClose)="handleCloseFilesChat($event)"
                    [perfil]="getPerfil"
                    [text]="userCommentValue"
                    [noResultText]="ChatNoResultMessage"
                    (onAccept)="handleClickSendInteractionButton($event)"
                    (onDelete)="deleteInteractionForAFileWithComments()">
                  </app-chat>
          </ng-template>
    </ng-template>
    <ng-template #CarritoVacio>
      <div class="center">
        <div>
          <!--span nz-icon nzType="stop" nzTheme="outline"></span-->
          <p>No se encontro ningun pedido en el carrito</p>
          <p>Puede agregar un pedido desde la opción Nuevo</p>
        </div>
      </div> 
    </ng-template>
</div>
  