nz-pagination {
    float: right
}



.spinning {
  
}

h2 {
  text-align: center;  
}

.editorIcon {
    font-size: 30px;   
    color:#f56a00  
}

.subTitle {
    font-weight: bold;
    /*text-align: center; */
}

.border {
    border-color:#837d7d;
    border-width: 1.5px;
    border-style: solid;
    position: relative;
    
}

/*
.center {
    display: flex;
    justify-content: center;
    color: green;
}
*/

.actions {
    width:100px;
}
/*
.actions :hover {
    background-color: #f56a00;
    color: #f56a00;
    background: #f56a00;
}


nz-card {
    background-color: #f56a00;
    color: #f56a00;
    background: #f56a00;
}

nz-card :hover {
    background-color: #f56a00;
    color: #f56a00;
    background: #f56a00;
}

*/

.amount {
    color: red;
    font-weight: bold;
    text-align: right;
    /* font-size: 20px; */
}

.loadmore {
    text-align: center; 
    height: 32px;
    /* line-height: 32px; */
}

.buttonSearch {
    width:100px;
}

.demo-infinite-container {
    height: 35vw;
    width: 40vw;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

.virtualScroll {
    height: 35vw;
    width: 18vw;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

.list :hover {
    background: #d8dadb;
  }

.nz-card {
    display: flex;
}

.liItem {
    /*
    display: flex;
    min-width: 100%;
    */
    border: 5px solid #FFFF00;
}

.buttonGroup { 
    display:flex; 
    justify-content: flex-end; 
    outline: 2px;
}

.child {
    /* Center horizontally
    display: flex;
    */
    margin: auto 16%;
    /*
    align-items: center;
    justify-content: center
    */
    
}

.algo :hover {
    background: #d8dadb;
}

  
.center {
    margin-top: 10%;
    /*
    border: 5px solid #FFFF00; 
    height: 300px;
    align-items: center;
    */
    text-align: center;
    
    
}
.center p {
    font-size: 15px;
    line-height: 0.4;   
    /*color:#161514;*/  
    font-weight: bold;   
}

.center i {
    font-size: 50px;
    font-weight: bold;   
    color:#f6180d 
}
/*
.parent {
    background: #CCCCCC;
    height: 200px;
    width: 200px;
    position: relative;
    }
    .child {
    background: #FFFF00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/

.solutionActions {
    line-height: 0.2;
  }
.revisar {
  color: white;
  background-color: green;  
}

.revisar :hover {
    color: whitesmoke;
    background-color: darkgreen;
}

.tag {
    cursor:default;
    
}

.tag :hover {
    color: whitesmoke;
    background-color: #87d068;
}