
<div class="carrito">
  <ng-template [ngIf]="loading" [ngIfElse]="ifElse">
    <nz-spin class="spinning" nzTip="Espere mientras se cargan los pedidos en el carrito..." ></nz-spin>
  </ng-template>
  <ng-template #ifElse>
    <p style="text-align: center;"><b>Carrito</b></p>
    <ng-template [ngIf]="pedidos && pedidos.length  > 0" [ngIfElse]="CarritoVacio">
      <nz-list>
        <div nz-row nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col nzSpan="24">
            <nz-list-item *ngFor="let pedido of pedidos">
              <nz-card [nzActions]="[actions]">
                  <!--nz-card-meta
                      nzTitle=""
                      nzDescription=""
                      [nzAvatar]="avatarTemplate"
                  ></nz-card-meta-->
                    <!--ng-template #avatarTemplate>
                      <i nz-icon nzType="highlight" class="editorIcon" nzTheme="outline"></i>
                    </ng-template>
                    <ng-template #coverTemplate>
                    </ng-template-->
                    <i nz-icon nzType="highlight" class="editorIcon" nzTheme="outline"></i>
      
                    <ng-template #actions>
                      <div nz-row nzJustify="center" [nzGutter]="[{ xs: 24, sm: 32, md: 48, lg: 64 }, 8]">
                        <div nz-col>
                          <button class="buttonActions" nzType="default" nz-button>
                            Eliminar
                          </button>    
                        </div>
                        <div nz-col>
                          <button class="buttonActions" nzType="default" nz-button>
                            Chat
                          </button>    
                        </div>
                        <div nz-col>
                          <button class="buttonActions" nzType="default" nz-button>
                            Editar
                          </button>    
                        </div>
                      </div>
                    </ng-template>
                    <div nz-row [nzGutter]="{ xs: 24, sm: 32, md: 48, lg: 64 }">
                      <div nz-col>
                        <p class="subTitle">Id :</p>
                        <p>{{ pedido.id ? pedido.id : "-" }}</p>
                      </div>
                      <div nz-col>
                        <p class="subTitle">Título :</p>
                        <p>{{pedido.nombre ? pedido.nombre : '-' }}</p>
                      </div>
                      <!--div nz-col>
                        <p class="subTitle">SubTítulo :</p>
                        <p>{{pedido.nombreExtendido ? pedido.nombreExtendido : '-' }}</p>
                      </div-->
                      <div nz-col>
                        <p class="subTitle">Tipo :</p>
                        <p>{{ pedido.tipo && pedido.tipo.nombre ? pedido.tipo.nombre : '-'}}</p>
                      </div>
                      <div nz-col >
                        <p class="subTitle">Fecha Entrega :</p>
                        <p>{{ pedido.fechaEntrega ? toLocalDateStringFunction(pedido.fechaEntrega) : '-'}}</p>
                      </div>
                      <div nz-col>
                        <p class="subTitle">Estado :</p>
                        <ng-template [ngIf]="pedido.state" [ngIfElse]="WithoutState">
                          <p><nz-tag [nzColor]="colorear(pedido.state)">{{pedido.state}}</nz-tag></p>
                        </ng-template>
                        <ng-template #WithoutState>
                          <p>-</p>
                        </ng-template>
                      </div>
                      <div nz-col>
                        <p class="subTitle">Mas Info :</p>
                        <icon nz-icon nzType="plus" style="margin-left: 18px; cursor:pointer" nzTheme="outline"></icon>
                      </div>
                  </div>

              </nz-card>
            </nz-list-item>
          </div>
        </div>
      </nz-list>
    </ng-template>
    <ng-template #CarritoVacio>
      No se encontro ningun pedido en el carrito
    </ng-template>
  </ng-template>

</div>
  


<!--div *ngIf="pedidos.length>0">
  <nz-descriptions nzTitle="Editar pedido" nzBordered [nzExtra]="extraTpl" [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
    <nz-descriptions-item nzTitle="Id" >{{ currentPedido.id }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Título" >{{ currentPedido.nombre }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Subtítulo">{{ currentPedido.nombreExtendido }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Cantidad">{{ currentPedido.cantidad }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Propietario ">{{ currentPedido.propietario }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Alto">{{ currentPedido.alto }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Ancho">{{ currentPedido.ancho }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tipografia"> {{ currentPedido.tipografia }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tipo"> {{ currentPedido.tipo.nombre }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Estado" [nzSpan]="8"><nz-tag [nzColor]="colorear(currentPedido.state)">{{currentPedido.state}}</nz-tag></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Colores" [nzSpan]="8">
      <div nz-row  *ngFor="let color of currentPedido.colores">
        <div nz-col class="gutter-row" [nzSpan]="4"><div class="inner-box"></div>
        <nz-badge [nzColor]="color.hexCode">{{ color.nombre }}</nz-badge>
      </div>
    </div>
  </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Descripción" [nzSpan]="8">
      {{ currentPedido.descripcion }}
    </nz-descriptions-item>
    <nz-descriptions-item 
    nzTitle="Eliminar" 
    [nzSpan]="8">
    <button class="button-delete" nz-button nzType="primary" title="Eliminar" (click)="eliminar()" nzDanger>
      <i nz-icon nzType="delete" nzTheme="outline"></i>
    </button>
  </nz-descriptions-item>
</nz-descriptions>
<ng-template #extraTpl>
  <button nz-button nzType="primary" (click)="onClickAccion(currentPedido)">{{ AccionText }}<i nz-icon nzType="edit" nzTheme="outline"></i></button>
</ng-template>

<br>
<nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" [nzPageSize]="1" [nzShowTotal]="totalTemplate" (nzPageIndexChange)="indexChange($event)"></nz-pagination>
<ng-template #totalTemplate let-total><strong>Total pedidos : {{ total }} </strong></ng-template> 
</div>

<div *ngIf="!(pedidos.length>0)">
  <div class="sin-pedidos">
    <div>
      <h1 nz-typography>No se encontró ningun pedido</h1>
    </div>
    <div >
      <h2 nz-typography>Para realizar tu pedido ingresá en "Nuevo"</h2>
    </div>
  </div>
</div-->