nz-pagination {
    float: right
}



.spinning {
  
}

h2 {
  text-align: center;  
}

.editorIcon {
    font-size: 30px;   
    color:#f56a00  
}

.subTitle {
    font-weight: bold;
    /*text-align: center; */
}

.border {
    border-color:rgb(201, 28, 28);
    border-width: 1.5px;
    border-style: solid;
  }

.buttonActions {
    width:150px;
}

.buttonSearch {
    width:100px;
}

.demo-infinite-container {
    height: 35vw;
    width: 40vw;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

.virtualScroll {
    height: 35vw;
    width: 18vw;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

.list :hover {
    background: #d8dadb;
  }

.child {
    /* Center horizontally
    display: flex;
    */
    margin: auto 16%;
    /*
    align-items: center;
    justify-content: center
    */
    
}

.algo :hover {
    background: #d8dadb;
  }