<ng-template [ngIf]="loading" [ngIfElse]="ifElse">
  <nz-spin class="spinning" nzTip="Espere..." ></nz-spin>
</ng-template>
<ng-template #ifElse>
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"></div>

  <div class="row"> 
    <p class="amount">#Total: {{total}}</p>
    <h3 nz-typography style="text-align: center;">Pedidos</h3>
  </div>
  
  <nz-list>
    <nz-list-item *ngFor="let pedido of pedidos">

  <nz-col [nzSpan]="24">
    <nz-card class="border">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <nz-col nzSpan="4">
              <b>Titulo</b>
              <p>{{pedido.nombre}}</p> 
          </nz-col>
          <nz-col nzSpan="4">
            <b>Subtitulo</b>
            <p>{{pedido.nombreExtendido}}</p> 
          </nz-col>
          <nz-col nzSpan="4">
            <b>Cantidad</b>
            <p>{{pedido.cantidad}}</p> 
          </nz-col>
          <nz-col nzSpan="4">
            <b>Fecha entrega</b>
            <p>{{toLocalDateStringFunction(pedido.fechaEntrega)}}</p> 
          </nz-col>
          <nz-col nzSpan="4">
            <b>Tipografía</b>
            <p>{{pedido.tipografia}}</p> 
          </nz-col>
          <nz-col nzSpan="2">
            <b>Alto</b>
            <p>{{pedido.alto}}</p> 
          </nz-col>
          <nz-col nzSpan="2">
            <b>Ancho</b>
            <p>{{pedido.ancho}}</p> 
          </nz-col>
          <nz-col nzSpan="4">
            <b>Tipo</b>
            <p>{{pedido.tipo.nombre}}</p> 
          </nz-col>

        <nz-col nzSpan="4">
          <b>Estado</b>
          <p><nz-tag [nzColor]="colorear(pedido.state)">{{pedido.state}}</nz-tag></p> 
        </nz-col>
        <nz-col nzSpan="6">
          <b>Colores</b>
          <nz-list>
            <nz-list-item style="display: inline; padding-left: 3px; padding-right: 3px; border-bottom: 0 none;" *ngFor="let color of pedido.colores">
              <nz-badge [nzColor]="color.hexCode">{{ color.nombre }}</nz-badge>
            </nz-list-item>
          </nz-list> 
        </nz-col>
        <nz-col>
          <b>Descripción</b>
          <p>{{ pedido.descripcion ? pedido.descripcion : "-" }}</p> 
        </nz-col>
      </div>

      <div style="text-align: center;">
        {{ pedido.showMore ? 'Ocultar' : 'Info del usuario' }}
        <span nz-icon style="cursor: pointer;" nzType="{{ pedido.showMore ? 'up' : 'down' }}" 
              nzTheme="outline" (click)="onClickShowMore(pedido)">
        </span>
      </div>

      <div *ngIf="pedido.showMore">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col [nzSpan]="us.span" *ngFor="let us of userData">
            <b>{{us.title}}</b>
            <p>{{getValueOrNot(us, pedido)}}</p>
          </div>
        </div>
      </div>

      <div nz-row class="buttonGroup" [nzGutter]="16">
        <!--div nz-col>
          <button 
            nz-button 
            nzType="default" 
            (click)="onClickShowFiles(pedido)">Ver archivos
          </button>
        </div-->
        <div nz-col>
          <button 
            nz-button 
            nzType="primary" 
            (click)="onClickAccion(pedido)">Resolver
          </button>
        </div>
      </div>
  </nz-card>
</nz-col>
</nz-list-item>

  <!--nz-modal
    [(nzVisible)]="isVisibleFilesModal"
    [nzBodyStyle]="{ minHeight: '600px' }"
    nzWidth="100%"
    nzTitle="Archivos"
    nzCentered
    (nzOnCancel)="onCancelModal()"
    (nzOnOk)="onCancelModal()"
  >
    <ng-container *nzModalContent>
              <nz-list nzGrid>
                  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngIf="currentPedido && currentPedido.files">
                    <div nz-col [nzSpan]="3" *ngFor="let file of currentPedido.files">
                      <nz-list-item>
                        <nz-card [nzCover]="coverTemplate">
                            <nz-card-meta
                                [nzTitle]="file.name"
                                nzDescription=""
                            ></nz-card-meta>
                              <ng-template #coverTemplate>
                                <img 
                                  nz-image
                                  nzDisablePreview 
                                  alt="no cargo imagen" 
                                  *ngIf="file && file.url" 
                                  [nzSrc]="file.url"
                                  (click)="onClickWatch($event, file)" 
                                  [ngStyle]="{ width: '100%', height: '100px', cursor: 'pointer'  }"
                                >
                              </ng-template>              
                        </nz-card>
                      </nz-list-item>
                    </div>
                  </div>
              </nz-list>   

    <div nz-row class="imageWCommentary" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col>
        <img nz-image nzDisablePreview *ngIf="currentFile && currentFile.url" [nzSrc]="currentFile.url" [ngStyle]="{ maxWidth: '600px', minHeight: '400px' }">
        <div *ngIf="currentFile && currentFile.comentarios">
          <div *ngFor="let item of currentFile.comentarios">
            <nz-badge
              [nzCount]="item.numero"
              [style]="badgeUponImageStyle(item)">
            </nz-badge>
          </div>
        </div>
      </div>
      <div nz-col>
      <div nz-row>
          <nz-list *ngIf="currentFile && currentFile.comentarios">
            <nz-list-item style="display: inline;" *ngFor="let comentario of currentFile.comentarios">
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                <div nz-col>
                  <nz-badge
                    [nzCount]="comentario.numero">
                  </nz-badge>
                </div>
                <div nz-col>
                  <p
                      nz-typography
                      nzEllipsis
                      nzExpandable
                      nzCopyable 
                      [nzCopyTooltips]="null"
                      [attr.title]="comentario.interacciones[0].texto"
                      [nzEllipsisRows]="2"
                      [nzContent]="comentario.interacciones[0].texto"
                    >
                  </p>
                </div>
              </div>
            </nz-list-item>
          </nz-list>
        </div>
      </div>
    </div>
  </ng-container>
  </nz-modal-->
  
  <!--div class="loadmore" nz-list-load-more>
    <button nz-button *ngIf="!loadingMore" (click)="onLoadMore($event)">Cargar más</button>
  </div-->
</nz-list>
</ng-template>